{% set toggleSearchHtml %}
  <div class="hmcts-search-toggle">
    <div class="hmcts-search-toggle__toggle"></div>
    <div class="hmcts-search-toggle__search">
      {{ hmctsSearch({
        action: '/app/search-results',
        classes: 'hmcts-search--ondark hmcts-search--toggle hmcts-hidden',
        input: {
          id: 'search2',
          name: 'search2'
        },
        label: {
          classes: 'govuk-visually-hidden',
          text: 'Search'
        },
        hint: {
          text: 'Enter case number or party name.'
        },
        button: {
          text: 'Search'
        }
      }) }}
    </div>
  </div>
{% endset %}


{% if pageID == "Signin" %}

  {{ hmctsGlobalHeader({

    service: {
      name: serviceName,
      url: '/app/dashboard'
    }

  }) }}

{% else %}

  {% set alertsLinkHtml %}
    <span class="jui-alert-link">
      <span class="jui-alert-link__text">Alerts</span><span class="jui-alert-link__number">3</span>
    </span>
  {% endset %}


  {{ hmctsGlobalHeader({

    service: {
      name: serviceName,
      url: '/app/dashboard'
    },

    navigation: {
      label: 'Account navigation',
      items: [{
        html: alertsLinkHtml,
        href: '/app/alerts'
      }, {
        text: 'Sign out',
        href: '/sign-out'
      }]
    }

  }) }}

  {{ hmctsPrimaryNavigation({
    label: 'Primary navigation',
    classes: 'govuk-!-margin-bottom-0',
    items: [{
      text: 'Your cases',
      href: '/app/dashboard',
      active: pageID == 'your-cases'
    }],
    searchHtml: toggleSearchHtml
  }) }}
{% endif %}

