{% if pageID == "Signin" %}

  {{ hmctsGlobalHeader({

    service: {
      name: serviceName,
      url: '/app/dashboard'
    }

  }) }}

{% endif %}


{% if pageID == "Your cases" %}

  {{ hmctsGlobalHeader({

    service: {
      name: serviceName,
      url: '/app/dashboard'
    },

    navigation: {
      label: 'Account navigation',
      items: [{
        text: 'Sign out',
        href: '/sign-out'
      }]
    }

  }) }}

  {{ hmctsPrimaryNavigation({
    label: 'Primary navigation',
    classes: 'govuk-!-margin-bottom-0',
    items: [{
      text: 'Your cases',
      href: '/app/dashboard',
      active: true
    }]
  }) }}

{% endif %}


{% if (pageID != "Your cases") and (pageID != "Signin") %}

  {{ hmctsGlobalHeader({

    service: {
      name: serviceName,
      url: '/app/dashboard'
    },

    navigation: {
      label: 'Account navigation',
      items: [{
        text: 'Sign out',
        href: '/sign-out'
      }]
    }

  }) }}

  {{ hmctsPrimaryNavigation({
    label: 'Primary navigation',
    classes: 'govuk-!-margin-bottom-0',
    items: [{
      text: 'Your cases',
      href: '/app/dashboard'
    }]
  }) }}

{% endif %}