<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/hmcts-frontend/all.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/application.js"></script>

<!-- Editor -->
<script src="/public/javascripts/editor/editor.js"></script>

<!-- Casefile -->
<script src="/public/javascripts/casefile/casefile.js"></script>

<!-- Tree -->
<script src="/public/javascripts/tree/tree.js"></script>

<script src="/public/javascripts/toolbar/toolbar.js"></script>

<!-- User testing -->
<script src="//cdn.loop11.com/embed.js" async="async"></script>

<!-- Other -->
{% if useAutoStoreData %}<script src="/public/javascripts/auto-store-data.js"></script>{% endif %}

<script>
  new HMCTSFrontend.SearchToggleButton({
    toggleButton: {
      container: $('.hmcts-search-toggle__toggle'),
      text: 'Find case'
    },
    search: {
      container: $('.hmcts-search')
    }
  });
</script>