<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/hmcts-frontend/all.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script src="/public/javascripts/form-validator.js"></script>

<!-- Casefile -->
<script src="/public/javascripts/casefile/casefile.js"></script>

<!-- Tree -->
<script src="/public/javascripts/tree/tree.js"></script>

<script src="/public/javascripts/toolbar/toolbar.js"></script>

<!-- User testing -->
{#@todo - add env variable to switch this off locally?#}
{#<script src="//cdn.loop11.com/embed.js" async="async"></script>#}

<!-- Other -->
{% if useAutoStoreData %}<script src="/public/javascripts/auto-store-data.js"></script>{% endif %}

<script>
  new HMCTSFrontend.SearchToggleButton({
    toggleButton: {
      container: $('.hmcts-search-toggle__toggle'),
      text: 'Find case'
    },
    search: {
      container: $('.hmcts-search')
    }
  });

  var identityBarMenu = $('.hmcts-identity-bar__menu .hmcts-menu');

  if(identityBarMenu[0]) {
    new HMCTSFrontend.Menu({
      container: identityBarMenu,
      mq: '(min-width: 200em)',
      buttonText: 'Actions',
      menuClasses: 'hmcts-menu__wrapper--right'
    });
  }


</script>