{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Reassign case {{'- ' + serviceName}}{% endblock %}

{% block content %}

  {{ hmctsIdentityBar({
    title: {
      html: casebar.parties
    }
  }) }}

	<div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: './'
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          {% set roleHtml %}
          {{ govukSelect({
            id: "name",
            name: "name",
            label: {
              text: "Name",
              classes: 'govuk-label--m'
            },
            items: [
              {
                value: "published",
                text: "John Smith"
              },
              {
                value: "updated",
                text: "Jane Smith",
                selected: true
              },
              {
                value: "views",
                text: "Holly Harrison"
              },
              {
                value: "comments",
                text: "Talia Silver"
              }
            ]
          }) }}
          {{ govukTextarea({
            label: {
              text: 'Reason for reassigning',
              classes: 'govuk-label--m'
            },
            id: 'reason',
            name: 'reason'
          }) }}
          {% endset %}

          <form method="post">
            {{ govukRadios({
              idPrefix: 'who',
              name: 'who',
              fieldset: {
                legend: {
                  text: 'Who do you want to reassign the case to?',
                  isPageHeading: true,
                  classes: 'govuk-fieldset__legend--xl'
                }
              },
              hint: {
                text: 'Select role'
              },
              items: [
                {
                  html: 'Legal advisor',
                  value: 'namedperson',
                  checked: checked('role', 'namedperson') == 'checked',
                  conditional: {
                    html: roleHtml
                  }
                },
                {
                  html: 'Magistrate',
                  value: 'courtadmin',
                  checked: checked('role', 'courtadmin') == 'checked',
                  conditional: {
                    html: roleHtml
                  }
                },
                {
                  html: 'District judge',
                  value: 'courtadmin',
                  checked: checked('role', 'courtadmin') == 'checked',
                  conditional: {
                    html: roleHtml
                  }
                },
                {
                  html: 'Deputy district judge',
                  value: 'courtadmin',
                  checked: checked('role', 'courtadmin') == 'checked',
                  conditional: {
                    html: roleHtml
                  }
                },
                {
                  html: 'Circuit judge',
                  value: 'courtadmin',
                  checked: checked('role', 'courtadmin') == 'checked',
                  conditional: {
                    html: roleHtml
                  }
                }
              ]
            }) }}

            {{ govukButton({
              text: 'Continue'
            }) }}
          </form>
        </div>
      </div>

		</main>
	</div>
{% endblock %}