{% extends "layouts/admin/base.html" %}

{% block pageTitle %}refer case {{'- ' + serviceName}}{% endblock %}

{% block content %}

{% set reservedBadgeHtml %}
{% if _case.reserved %}
{{hmctsBadge({
  classes: 'govuk-!-margin-left-1',
  text: _case.reserved
})}}
{% endif %}
{% endset %}


{{ hmctsIdentityBar({
title: {
  html: casebar.parties + reservedBadgeHtml
  }
}) }}

	<div class="hmcts-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: './'
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">


          <h1 class="govuk-heading-xl">Check your answers before referring the case</h1>


          {% if data.who == 'namedperson' %}
            {{ govukSummaryList({
              rows: [
                {
                  key: {
                    text: "Who do you want to refer to?"
                  },
                  value: {
                    text: "A named person"
                  },
                  actions: {
                    items: [
                      {
                        href: "/app/cases/"+_case.id+"/refer",
                        text: "Change",
                        visuallyHiddenText: "name"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Name of the person you're referring to"
                  },
                  value: {
                    text: data.name
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Notes for the recipient"
                  },
                  value: {
                    text: data.reason
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "date of birth"
                      }
                    ]
                  }
                }
              ]
            }) }}
          {% elseif data.who == 'role' %}
            {{ govukSummaryList({
              rows: [
              {
                key: {
                  text: "Who do you want to refer to?"
                },
                value: {
                  text: "A person with a specific role"
                },
                actions: {
                  items: [
                    {
                      href: "/app/cases/"+_case.id+"/refer",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              },
                {
                  key: {
                    text: "What is the role of the person you want to refer to?"
                  },
                  value: {
                    text: data.role
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Notes for the recipient"
                  },
                  value: {
                    text: data.reason
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "date of birth"
                      }
                    ]
                  }
                }
              ]
            }) }}
          {% else %}
          {{ govukSummaryList({
            rows: [
            {
              key: {
                text: "Who do you want to refer to?"
              },
              value: {
                text: "A court admin"
              },
              actions: {
                items: [
                  {
                    href: "/app/cases/"+_case.id+"/refer",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
              {
                key: {
                  text: "Notes for the recipient"
                },
                value: {
                  text: data.reason
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "date of birth"
                    }
                  ]
                }
              }
            ]
          }) }}
          {% endif %}

          <form method="post">
            {{ govukButton({
              "text": "Refer case"
            }) }}
          </form>

        </div>
      </div>


		</main>
	</div>
{% endblock %}