{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Case reassigned {{'- ' + serviceName}}{% endblock %}

{% block content %}

  <div class="hmcts-width-container">

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          {{ govukPanel({
            headingLevel: 1,
            titleText: 'Case referred',
            html: _case.id
          }) }}

          <p>The case has moved into your <a href="/app/dashboard">waiting on list </a>. When the recipinent responds, it will pop back into you <a href="/app/dashboard">todo list</a>.</p>

        </div>

      </div>

    </main>

  </div>

{% endblock %}