{% extends "layouts/admin/base.html" %}

{% block pageTitle %}What do you want to send to the parties? {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ hmctsIdentityBar({
  title: {
    html: '<b>Warren Sutton</b> and <b>DWP</b>'
  }
}) }}

<div class="hmcts-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <form method="post">

            {{ govukRadios({
              idPrefix: 'who',
              name: 'who',
              fieldset: {
                legend: {
                  text: 'Who do you want to refer the case to?',
                  isPageHeading: true,
                  classes: 'govuk-fieldset__legend--xl'
                }
              },
              items: [
                {
                  html: 'A named person',
                  value: 'namedperson'
                },
                {
                  html: 'A person with a specific role',
                  value: 'role'
                },
                {
                  html: 'A court adminstrator',
                  value: 'courtadmin'
                }
              ]
            }) }}

            {{ govukButton({
              text: 'Continue'
            }) }}

          </form>

        </div>

      </div>

	</main>

</div>

{% endblock %}