{% extends "layouts/admin/base.html" %}

{% block pageTitle %}What do you want to send to the parties? {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ hmctsIdentityBar({
  title: {
    html: '<b>Warren Sutton</b> and <b>DWP</b>'
  }
}) }}

<div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <form method="post" action="/app/case/pip/refer/reason">

            <!-- {{ govukInput({
              label: {
                text: 'Name',
                isPageHeading: true,
                classes: 'govuk-label--xl'
              },
              id: 'name',
              name: 'name'
            }) }} -->

            {{ govukSelect({
              id: "name",
              name: "name",
              label: {
                text: "Name of the person you're reassigning to",
                classes: 'govuk-label--xl',
                isPageHeading: true
              },
              items: [
                {
                  value: "",
                  text: ""
                },
                {
                  value: "Judge Pete Abraham",
                  text: "Judge Pete Abraham"
                },
                {
                  value: "Judge Prita Bostock",
                  text: "Judge Prita Bostock"
                },
                {
                  value: "Judge Jane Craddock",
                  text: "Judge Jane Craddock"
                },
                {
                  value: "Judge Adam Dickenson",
                  text: "Judge Adam Dickenson"
                },
                {
                  value: "Judge Chris Fredericks",
                  text: "Judge Chris Fredericks"
                },
                {
                  value: "Judge Rob Jenkins",
                  text: "Judge Rob Jenkins"
                },
                {
                  value: "Judge Mary Oliver",
                  text: "Judge Mary Oliver"
                },
                {
                  value: "Judge Sarah Sisk",
                  text: "Judge Sarah Sisk"
                },
                {
                  value: "Judge Rob Taub",
                  text: "Judge Rob Taub"
                }
              ]
            }) }}

            {{ govukButton({
              text: 'Continue'
            }) }}

          </form>

        </div>

      </div>

	</main>

</div>

{% endblock %}

{% block page_scripts %}
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#name'),
      displayMenu: 'overlay'
    })
  </script>
{% endblock %}