{% extends "layouts/admin/base.html" %}

{% block page_title %}List for hearing{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties,
  caseActions: {
    actions: caseActions
  }
}) }}

	<div class="jui-width-container">

    {{ govukBackLink({
      "text": "Back",
      "href": "./"
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <h1 class="govuk-heading-l">List for hearing</h1>

      <form method="post">
        {{ govukTextarea({
          "id": "hearing-notes",
          "name": "hearing-notes",
          "classes": "govuk-input--width-30",
          "label": {
            "text": "Hearing notes (optional)",
            "classes": "govuk-label--m"
          },
          value: data['hearing-notes']
        }) }}

        {{ govukButton({
          "text": "Continue"
        }) }}

      </form>

		</main>

	</div>

{% endblock %}

