{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Questions sent {{'- ' + serviceName}}{% endblock %}

{% block content %}

  <div class="hmcts-width-container">

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          {{ govukPanel({
            headingLevel: 1,
            titleText: 'Questions sent',
            html: _case.id
          }) }}

          <p><a href="/app/dashboard?omit={{_case.id}}">Go to your cases</a></p>

        </div>

      </div>

    </main>

  </div>

{% endblock %}