{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Create questions {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties
}) }}

	<div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: './'
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <div class="hmcts-add-another">

            <h1 class="govuk-heading-xl hmcts-add-another__heading" tabindex="-1">Create questions</h1>

            <form method="post" action="/app/cases/{{_case.id}}/questions/new">

              {% call govukFieldset({
                classes: 'hmcts-add-another__item',
                legend: {
                  text: 'Question',
                  classes: 'hmcts-add-another__title  govuk-fieldset__legend--m',
                  isPageHeading: false
                }
              }) %}

              {{ govukInput({
                label: {
                  html: 'Subject'
                },
                id: 'questions[0][subject]',
                name: 'questions[0][subject]',
                attributes: {
                  'data-name': 'questions[%index%][subject]',
                  'data-id': 'questions[%index%][subject]'
                }
              }) }}

              {{ govukTextarea({
                name: 'questions[0][question]',
                id: 'questions[0][question]',
                attributes: {
                  'data-name': 'questions[%index%][question]',
                  'data-id': 'questions[%index%][question]'
                },
                label: {
                  html: 'Question'
                },
                classes: 'js-editor'
              }) }}

              {% endcall %}

              <div class="hmcts-button-action">
                {{ govukButton({
                  text: 'Add another question',
                  classes: 'hmcts-button--secondary  hmcts-add-another__add-button  govuk-!-margin-bottom-4'
                }) }}
              </div>

              <div class="hmcts-button-action">
                {{ govukButton({
                  text: 'Save questions'
                }) }}
              </div>

            </form>

          </div>

        </div>

      </div>

		</main>

	</div>
{% endblock %}

{% block page_scripts %}
  <script>
    new HMCTSFrontend.AddAnother($('.hmcts-add-another'));
    new Editor($('.js-editor'))
  </script>
{% endblock %}