{% extends "layouts/admin/casefile-divorce.html" %}

{% block file_content %}

  <div class="jui-casefile-page-content">

    <div class="jui-casefile-page-head">
      <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
    </div>

    <div class="jui-casefile-page-body">

      <h2 class="govuk-heading-l">Key facts</h2>

      {{ govukTable({
        firstCellIsHeader: false,
        caption: 'Petitioner details',
        captionClasses: 'govuk-heading-m',
        classes: 'govuk-!-margin-bottom-8  jui-table  jui-table--fixed',
        rows: [
          [
            {text: 'Full name'},
            {text:  _case.petitioner.fullname }
          ],
          [
            {text: 'Date of birth'},
            {text: caseDates.petitionerDoB }
          ],
          [
            {text: 'Address'},
            {html: _case.petitioner.address }
          ]
        ]
      }) }}

      {{ govukTable({
        firstCellIsHeader: false,
        caption: 'Respondent details',
        captionClasses: 'govuk-heading-m',
        classes: 'govuk-!-margin-bottom-8  jui-table  jui-table--fixed',
        rows: [
          [
            {text: 'Full name'},
            {text:  _case.respondent.fullname }
          ],
          [
            {text: 'Date of birth'},
            {text: caseDates.respondentDoB }
          ],
          [
            {text: 'Address'},
            {html: _case.respondent.address }
          ]
        ]
      }) }}

      {{ govukTable({
        firstCellIsHeader: false,
        caption: 'Facts relied upon',
        captionClasses: 'govuk-heading-m',
        classes: 'govuk-!-margin-bottom-8  jui-table  jui-table--fixed',
        rows: [
          [
            {text: 'Reason for divorce'},
            {text: _case.reason }
          ],
          [
            {text: 'Length of separation'},
            {text: '2 years 3 months'}
          ],
          [
            {text: 'Date of petition'},
            {html:  caseDates.applicationDate + '<br>Changes since petition (none)'}
          ],
          [
            {text: 'Date of marriage'},
            {html: '1 January 2014<br>(4 years 3 months)'}
          ],
          [
            {text: 'Place of marriage'},
            {html: 'London, England, United Kingdom'}
          ]
        ]
      }) }}

      {{ govukTable({
        firstCellIsHeader: false,
        caption: 'Service and respondent’s response',
        captionClasses: 'govuk-heading-m',
        classes: 'govuk-!-margin-bottom-8  jui-table  jui-table--fixed',
        rows: [
          [
            {text: 'Acknowledged by respondent'},
            {text: 'Yes'}
          ],
          [
            {text: 'Intention to defend'},
            {text: 'No'}
          ],
          [
            {text: 'Consent to divorce'},
            {text: 'Yes'}
          ],
          [
            {text: 'Jurisdiction response'},
            {html: 'England and Wales (both habitually resident)<br>Respondent agrees (yes)'}
          ]
        ]
      }) }}

      {{ govukTable({
        firstCellIsHeader: false,
        caption: 'Other details',
        captionClasses: 'govuk-heading-m',
        classes: 'jui-table  jui-table--fixed',
        rows: [
          [
            {text: 'Address last lived'},
            {html: '24 Park Road<br>Lewisham<br>London<br>E11 4PR'}
          ],
          [
            {text: 'Date of application for decree nisi'},
            {html: '5 May 2018'}
          ],
          [
            {text: 'Changes since petition'},
            {html: 'None'}
          ]
        ]
      }) }}

    </div>

  </div>

{% endblock %}