{% extends "layouts/admin/base.html" %}

{% block page_title %}Consent orders{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties,
  caseActions: {
    actions: caseActions
  }
}) }}

<div class="jui-width-container">

  {{ govukBackLink({
    "text": "Back to case file",
    "href": '/app/cases/' + _case.id + '/documents'
  }) }}

  <main role="main" class="govuk-main-wrapper">

    <h1 class="govuk-heading-l">Consent order version history</h1>

    {{ govukTable({
      head: [
        { text: 'Version'},
        { text: 'Date'},
        { text: 'Time'},
        { text: 'Author'},
        { text: 'Download'}
      ],
      rows: [
        [
          { text: 'Version 3'},
          { text: '11 Jan 2018'},
          { text: '9am'},
          { text: 'Judge Prita Shah'},
          { html: '<a href="">Download</a>'}
        ],
        [
          { text: 'Version 2'},
          { text: '11 Jan 2018'},
          { text: '8.54am'},
          { text: 'Judge Prita Shah'},
          { html: '<a href="">Download</a>'}
        ],
        [
          { text: 'Version 1'},
          { text: '1 Jan 2018'},
          { text: '10.31am'},
          { text: 'Someone else'},
          { html: '<a href="">Download</a>'}
        ]
      ]
    }) }}

  </main>

</div>

{% endblock %}