{% extends "layouts/admin/base.html" %}

{% block page_title %}Consent orders{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties,
  caseActions: {
    actions: caseActions
  }
}) }}

<div class="jui-width-container">

  <main role="main" class="govuk-main-wrapper">

    {{ juiSecondaryNav({
      items: caseNavItems
    }) }}

    {{ govukBackLink({
      "text": "Back",
      "href": '/app/cases/' + _case.id + '/documents'
    }) }}

    <br><br>

    <h1 class="govuk-heading-l">Upload new version</h1>

    <h2 class="govuk-heading-m">Latest version</h2>

    <ul class="govuk-list">
      <li><a href="" class="jui-timeline__document-link">Consent order [date]</a></li>
    </ul>

    <h2 class="govuk-heading-m">Previous versions</h2>

    <ul class="govuk-list">
      <li><a href="" class="jui-timeline__document-link">Consent order [date]</a></li>
      <li><a href="" class="jui-timeline__document-link">Consent order [date]</a></li>
      <li><a href="" class="jui-timeline__document-link">Consent order [date]</a></li>
      <li><a href="" class="jui-timeline__document-link">Consent order [date]</a></li>
      <li><a href="" class="jui-timeline__document-link">Consent order [date]</a></li>
    </ul>

  </main>

</div>

{% endblock %}