{% extends "layouts/admin/base.html" %}

{% block page_title %}File history{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties,
  caseActions: {
    actions: caseActions
  }
}) }}

<div class="jui-width-container">

  <main role="main" class="govuk-main-wrapper">

    {{ juiSecondaryNav({
      items: caseNavItems
    }) }}

    {{ govukBackLink({
      "text": "Back",
      "href": '/app/cases/' + _case.id + '/documents'
    }) }}

    <br><br>

    <h1 class="govuk-heading-l">File history</h1>

    <h2 class="govuk-heading-m">Latest version</h2>

    <ul class="govuk-list">
      <li><a href="" class="jui-timeline__document-link">Consent order</a> 21 Feb 2018 at 09:10am</li>
    </ul>

    <h2 class="govuk-heading-m">Previous versions</h2>

    <ul class="govuk-list">
      <li><a href="" class="jui-timeline__document-link">Consent order</a> 20 Feb 2018 at 13:01pm</li>
      <li><a href="" class="jui-timeline__document-link">Consent order </a> 19 Feb 2018 at 1:01am</li>
      <li><a href="" class="jui-timeline__document-link">Consent order </a> 1 Jan 2018 at 11:01am</li>
    </ul>

  </main>

</div>

{% endblock %}