{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Parties {{'- ' + serviceName}}{% endblock %}

{% block bodyStart %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-tabs-enabled' : 'js-tabs-enabled');</script>
{% endblock %}

{% block content %}



{% set reservedBadgeHtml %}
    {% if _case.reserved %}
    {{ hmctsBadge({
      classes: 'govuk-!-margin-left-1',
      text: _case.reserved
    }) }}
    {% endif %}
  {% endset %}


{{ hmctsIdentityBar({
title: {
	html: casebar.parties + reservedBadgeHtml
	},
menus: caseActions
}) }}

	<div class="hmcts-width-container">

    <main class="govuk-main-wrapper" role="main">

      {{ hmctsSubNavigation({
				items: caseNavItems
			}) }}

			<div class="hmcts-page-heading">

			<h1 class="hmcts-page-heading__title govuk-heading-xl">Parties</h1>

			{% set applicant %}
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						{{ govukSummaryList({
							rows: applicantRows
						}) }}
					</div>
				</div>
			{% endset -%}

			{% set respondent %}
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						{{ govukSummaryList({
							rows: respondentRows
						}) }}
					</div>
				</div>
			{% endset -%}

			{{ govukAccordion({
				id: "accordion-with-summary-sections",
				items: [
					{
						heading: {
							text: "Applicant"
						},
						content: {
							html: applicant
						}
					},
					{
						heading: {
							text: "Respondent"
						},
						content: {
							html: respondent
						}
					}
				]
			}) }}

		</main>

	</div>

{% endblock %}