{% extends "layouts/admin/base.html" %}

{% block page_title %}Case summary{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties,
  caseActions: {
    actions: caseActions
  }
}) }}

<div class="jui-width-container">

  <main role="main" class="govuk-main-wrapper">

    {{ hmctsSubNavigation({
      label: 'Case navigation',
      items: caseNavItems
    }) }}

    <h1 class="govuk-heading-l">Summary</h1>


    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <div class="jui-case-action-alert">
          <h2 class="jui-case-action-alert__heading">Decision needed</h2>
          <div class="jui-case-action-alert__content">
            <p><a class="jui-case-action-alert__link" href="/app/cases/{{_case.id}}/documents/">Draft consent order</a></p>
          </div>
        </div>

        <h2 class="govuk-heading-m  govuk-!-margin-bottom-2">Case details</h2>

        {{ govukTable({
          "classes": "govuk-!-margin-bottom-7  jui-table  jui-table--fixed",
          "firstCellIsHeader": true,
          "rows": detailsRows
        }) }}

        <h2 class="govuk-heading-m  govuk-!-margin-bottom-2">Related cases</h2>

        {{ govukTable({
          "classes": "govuk-!-margin-bottom-7  jui-table  jui-table--fixed",
          "firstCellIsHeader": true,
          "rows": linkedCaseRows
        }) }}

      </div>

      <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-m  govuk-!-margin-bottom-4">Recent events</h2>

        {% if recentEvents.length %}

          {{hmctsTimeline({
            headingLevel: 3,
            events: recentEvents
          })}}

          <p><a href="/app/cases/{{_case.id}}/timeline">View full timeline</a></p>

        {% else %}

          <p>No events.</p>

        {% endif %}

      </div>

    </div>

  </main>

</div>

{% endblock %}