{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Check your decisiony {{'- ' + serviceName}}{% endblock %}

{% block content %}

  {{ juiCasebar({
    caseId: casebar.id,
    parties: casebar.parties
  }) }}

  <div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: backLink.href
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Check your decision</h1>


          <dl class="app-check-your-answers  app-check-your-answers--short  govuk-!-margin-bottom-6">

            <div class="app-check-your-answers__contents">

              <dt class="app-check-your-answers__question">Decision</dt>

              <dd class="app-check-your-answers__answer">{{data.decision}}</dd>

              <dd class="app-check-your-answers__change">
                <a href="/app/cases/{{_case.id}}/fr/decision">Change <span class="govuk-visually-hidden">decision</span></a>
              </dd>

            </div>


            {% if data['decision'] === 'Request changes or ask for more information from parties' and data['reject'] %}

              <div class="app-check-your-answers__contents">

                <dt class="app-check-your-answers__question">Reasons</dt>

                <dd class="app-check-your-answers__answer">
                  {% for reason in reasons %}
                    {% if reason.sub %}
                      <p>Not enough information given on how the order will affect the:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for subReason in reason.sub %}
                          <li>{{subReason.text}}</li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <p>{{reason.text}}</p>
                    {% endif %}
                  {% endfor %}
                </dd>

                <dd class="app-check-your-answers__change">
                  <a href="/app/cases/{{_case.id}}/fr/reject-reasons">Change <span class="govuk-visually-hidden">Why couldn’t you approve the consent order</span></a>
                </dd>

              </div>

              {% if data['furtherInformation'] %}
              <div class="app-check-your-answers__contents">

                <dt class="app-check-your-answers__question">Further information needed from the parties</dt>

                <dd class="app-check-your-answers__answer">
                  {{data['furtherInformation']}}
                </dd>

                <dd class="app-check-your-answers__change">
                  <a href="/app/cases/{{_case.id}}/fr/reject-reasons">Change <span class="govuk-visually-hidden">why couldn’t you approve the consent order</span></a>
                </dd>
              </div>
              {% endif %}

              {% if data['document-notes'] %}
              <div class="app-check-your-answers__contents">

                <dt class="app-check-your-answers__question">Comments on draft consent order</dt>

                <dd class="app-check-your-answers__answer">
                  {{data['document-notes']}}
                </dd>

                <dd class="app-check-your-answers__change">
                  <a href="/app/cases/{{_case.id}}/fr/draft-consent-order">Change <span class="govuk-visually-hidden">comments on draft consent order</span></a>
                </dd>
              </div>
              {% endif %}

              {% if data['notesForCourtAdministrator'] %}
              <div class="app-check-your-answers__contents">

                <dt class="app-check-your-answers__question">Notes for court administrator</dt>

                <dd class="app-check-your-answers__answer">
                  {{data['notesForCourtAdministrator']}}
                </dd>

                <dd class="app-check-your-answers__change">
                  <a href="/app/cases/{{_case.id}}/fr/notes-from-court-administrator">Change <span class="govuk-visually-hidden">notes from court administrator</span></a>
                </dd>
              </div>
              {% endif %}

            {% endif %}


            {# {% if data.duration %}
              <div class="app-check-your-answers__contents">

                <dt class="app-check-your-answers__question">Hearing duration (minutes)</dt>

                <dd class="app-check-your-answers__answer">
                  {{data.duration}}
                </dd>

                <dd class="app-check-your-answers__change">
                  <a href="/app/cases/{{_case.id}}/fr/hearing-details">Change <span class="govuk-visually-hidden">hearing details</span></a>
                </dd>
              </div>
            {% endif %} #}


            {# {% if data['minimum-notice-needed'] %}
              <div class="app-check-your-answers__contents">

                <dt class="app-check-your-answers__question">Minimum duration needed (working days)</dt>

                <dd class="app-check-your-answers__answer">
                  {{data['minimum-notice-needed']}}
                </dd>

                <dd class="app-check-your-answers__change">
                  <a href="/app/cases/{{_case.id}}/fr/hearing-details">Change <span class="govuk-visually-hidden">hearing details</span></a>
                </dd>
              </div>
            {% endif %} #}


            {# {% if data['latest-listing-date-day'] %}
              <div class="app-check-your-answers__contents">

                <dt class="app-check-your-answers__question">Latest date this can be listed</dt>

                <dd class="app-check-your-answers__answer">
                  {{data['latest-listing-date-day']}}/{{data['latest-listing-date-month']}}/{{data['latest-listing-date-year']}}
                </dd>

                <dd class="app-check-your-answers__change">
                  <a href="/app/cases/{{_case.id}}/fr/hearing-details">Change <span class="govuk-visually-hidden">hearing details</span></a>
                </dd>
              </div>
            {% endif %} #}

            {#
            {% if data['listed-for-you'] %}
              <div class="app-check-your-answers__contents">

                <dt class="app-check-your-answers__question">Do you want it to be listed for you?</dt>

                <dd class="app-check-your-answers__answer">
                  {{data['listed-for-you']}}
                </dd>

                <dd class="app-check-your-answers__change">
                  <a href="/app/cases/{{_case.id}}/fr/hearing-details">Change <span class="govuk-visually-hidden">hearing details</span></a>
                </dd>
              </div>
            {% endif %} #}


            {# {% if data['transfer'] %}
              <div class="app-check-your-answers__contents">

                <dt class="app-check-your-answers__question">Do you want the hearing to be transferred to another court?</dt>

                <dd class="app-check-your-answers__answer">
                  {{data['transfer']}}
                </dd>

                <dd class="app-check-your-answers__change">
                  <a href="/app/cases/{{_case.id}}/fr/hearing-details">Change <span class="govuk-visually-hidden">hearing details</span></a>
                </dd>
              </div>
            {% endif %} #}


            {# {% if data['name-of-court'] %}
              <div class="app-check-your-answers__contents">

                <dt class="app-check-your-answers__question">Name of court</dt>

                <dd class="app-check-your-answers__answer">
                  {{data['name-of-court']}}
                </dd>

                <dd class="app-check-your-answers__change">
                  <a href="/app/cases/{{_case.id}}/fr/hearing-details">Change <span class="govuk-visually-hidden">hearing details</span></a>
                </dd>
              </div>
            {% endif %} #}


            {% if data['decision'] === 'Approve consent order as drafted' and data['decision-notes'] %}
              <div class="app-check-your-answers__contents">

                <dt class="app-check-your-answers__question">Notes</dt>

                <dd class="app-check-your-answers__answer">{{data['decision-notes']}}</dd>

                <dd class="app-check-your-answers__change">
                  <a href="/app/cases/{{_case.id}}/fr/decision-notes">Change <span class="govuk-visually-hidden">decision notes</span></a>
                </dd>

              </div>
            {% endif %}


            {% if data['decision'] === 'Ask parties to attend hearing' and data.reason %}
              <div class="app-check-your-answers__contents">

                <dt class="app-check-your-answers__question">Notes</dt>

                <dd class="app-check-your-answers__answer">{{data.reason}}</dd>

                <dd class="app-check-your-answers__change">
                  <a href="/app/cases/{{_case.id}}/fr/hearing-details">Change <span class="govuk-visually-hidden">hearing details</span></a>
                </dd>

              </div>
            {% endif %}


            {% if data['decision'] === 'Reject consent order' and data['reject-notes'] %}
              <div class="app-check-your-answers__contents">

                <dt class="app-check-your-answers__question">Notes</dt>

                <dd class="app-check-your-answers__answer">{{data['reject-notes']}}</dd>

                <dd class="app-check-your-answers__change">
                  <a href="/app/cases/{{_case.id}}/fr/reject-reason">Change <span class="govuk-visually-hidden">notes</span></a>
                </dd>

              </div>
            {% endif %}


          </dl>

          <form method="post" action="/app/cases/{{_case.id}}/fr/submit-decision">
            {{ govukButton({
              text: 'Submit'
            }) }}
          </form>

        </div>

      </div>

    </main>

  </div>

{% endblock %}