{% extends "layouts/admin/base.html" %}

{% block page_title %}Decision confirmation{% endblock %}

{% block content %}

  <div class="jui-width-container">

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {{ govukPanel({
            headingLevel: 1,
            titleText: "Decision submitted",
            html: _case.id
          }) }}

          <h2 class="govuk-heading-m">What happens next</h2>

          {% if data.decision == 'Approve consent order' %}
            <p>Your decision has been sent to a court administrator who will seal the consent order and send it out to the parties.</p>
          {% elseif data.decision == 'Ask for more information' %}
            <p>Your request for more information has been sent to the parties.</p>
          {% elseif data.decision == 'List for hearing' %}
            <p>TBD</p>
          {% elseif data.decision == 'Reject consent order' %}
            <p>Your decision has been sent to a court administrator who will seal the consent order and send it out to the parties.</p>
          {% endif %}

          <p><a href="/app/dashboard">Go to your dashboard</a></p>

        </div>
      </div>

    </main>

  </div>

{% endblock %}