{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Decision{% endblock %}

{% block content %}

  {# {{ juiCasebar({
    caseId: casebar.id,
    parties: casebar.parties,
    caseActions: {
      actions: caseActions
    }
  }) }} #}

	<div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: backLink.href
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-two-thirds">

          {% if errorSummary.items.length %}
            {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorSummary.items
            }) }}
          {% endif %}

          <form method="post">

            {% set confirmUploadedHtml %}
            {{ govukRadios({
              classes: 'govuk-radios--inline',
              idPrefix: 'reason',
              name: 'reason',
              fieldset: {
                legend: {
                  text: 'Have you upload a new version of the consent order?',
                  classes: 'govuk-fieldset__legend--m'
                }
              },
              items: [
                {
                  value: 'yes',
                  html: 'Yes'
                },
                {
                  value: 'no',
                  html: 'No'
                }
              ]
            }) }}
            {% endset %}

            {{ govukRadios({
              idPrefix: 'decision',
              name: 'decision',
              errorMessage: inlineErrors.decision,
              fieldset: {
                legend: {
                  text: 'Make a decision',
                  isPageHeading: true,
                  classes: 'govuk-fieldset__legend--l'
                }
              },
              items: [
                {
                  value: 'Approve consent order',
                  html: 'Approve consent order',
                  checked: checked('decision', 'Approve consent order') == 'checked'
                },
                {
                  value: 'Ask for more information',
                  html: 'Ask for more information',
                  checked: checked('decision', 'Ask for more information') == 'checked'
                },
                {
                  value: 'Send annotated order to solicitors',
                  html: 'Send annotated order to solicitors',
                  checked: checked('decision', 'Send annotated order to solicitors') == 'checked'
                },
                {
                  value: 'List for hearing',
                  html: 'List for hearing',
                  checked: checked('decision', 'List for hearing') == 'checked'
                },
                {
                  value: 'Reject consent order',
                  html: 'Reject consent order',
                  checked: checked('decision', 'Reject consent order') == 'checked'
                }
              ]
            }) }}

            {{ govukButton({
              text: 'Continue'
            }) }}

          </form>

        </div>

      </div>

		</main>

	</div>

{% endblock %}