{% extends "layouts/admin/base.html" %}

{% block pageTitle %}
{% if errors %}
  ({{errors.length}}) errors —
{% endif %}
Decision{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties,
  caseActions: {
    actions: caseActions
  }
}) }}

	<div class="jui-width-container">

    {{ govukBackLink({
      "text": "Back",
      "href": backLink.href
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {% if errors %}
            {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errors
            }) }}
          {% endif %}

          <form method="post">


            {% set confirmUploadedHtml %}
            {{ govukRadios({
              "classes": 'govuk-radios--inline',
              "idPrefix": "reason",
              "name": "reason",
              "fieldset": {
                "legend": {
                  "text": 'Have you upload a new version of the consent order?',
                  "classes": 'govuk-fieldset__legend--m'
                }
              },
              "items": [
                {
                  "value": "yes",
                  "html": "Yes"
                },
                {
                  "value": "no",
                  "html": "No"
                }
              ]
            }) }}
            {% endset %}


            {{ govukRadios({
              "idPrefix": "approve",
              "name": "approve",
              "fieldset": {
                "legend": {
                  "html": '<h1 class="govuk-heading-l">What would you like to do with the consent order?</h1>'
                }
              },
              "items": [
                {
                  "value": "approve",
                  "html": "Approve"
                },
                {
                  "value": "approve-with-changes",
                  "html": "Approve with changes",
                  "conditional": {
                    "html": confirmUploadedHtml
                  }
                },
                {
                  "value": "reject",
                  "html": "Reject"
                }
              ]
            }) }}

            {{ govukButton({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

		</main>

	</div>

{% endblock %}

