{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Send questions or comments to the parties{% endblock %}

{% block content %}

  {{ juiCasebar({
    caseId: casebar.id,
    parties: casebar.parties
  }) }}

	<div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: backLink.href
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <h1 class="govuk-heading-xl">Send comments on draft order to parties</h1>

      <h2 class="govuk-heading-m">Draft consent order</h2>

      <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-two-thirds">
          <iframe class="jui-casefile-document-iframe" src="/public/downloads/ConsentOrder.pdf" height="2235" width="100%" border="0"></iframe>
        </div>

        <div class="govuk-grid-column-one-third">

          <form method="post">

            {{ govukTextarea({
              id: 'document-notes',
              name: 'document-notes',
              rows: 10,
              label: {
                text: 'Comments',
                classes: 'govuk-label--m'
              },
              hint: {
                text: 'If you’ve already added in comments earlier, they will display here.'
              },
              value: data['document-notes']
            }) }}

            {{ govukButton({
              text: 'Continue'
            }) }}

          </form>

        </div>

      </div>

		</main>

	</div>

{% endblock %}