{% extends "layouts/admin/base.html" %}

{% block pageTitle %}
{% if errors %}({{errors.length}}) errors —{% endif %} Hearing details
{% endblock %}

{% block content %}

  {{ juiCasebar({
    caseId: casebar.id,
    parties: casebar.parties
  }) }}

	<div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: backLink.href
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          {% if errors %}
            {{ govukErrorSummary({
              titleText: 'There is a problem',
              errorList: errors
            }) }}
          {% endif %}

          <form method="post">

            {{ govukTextarea({
              id: 'reason',
              name: 'reason',
              label: {
                text: 'Notes for court administrator or listings officer',
                isPageHeading: true,
                classes: 'govuk-label--xl'
              },
              hint: {
                text: 'For example, give length of hearing or transfer to a different court.'
              },
              value: data['reason']
            }) }}

            {{ govukButton({
              text: 'Continue'
            }) }}

          </form>

        </div>

      </div>

		</main>

	</div>

{% endblock %}