{% extends "layouts/admin/base.html" %}

{% block pageTitle %}{% if errors %}({{errors.length}}) errors —{% endif %} Reject consent order reason {{'- ' + serviceName}}{% endblock %}

  {{ juiCasebar({
    caseId: casebar.id,
    parties: casebar.parties
  }) }}

	<div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: backLink.href
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          {% if errors %}
            {{ govukErrorSummary({
              titleText: 'There is a problem',
              errorList: errors
            }) }}
          {% endif %}

          <form method="post">

            {% set subReasonsHtml %}
              {{ govukCheckboxes({
                idPrefix: 'rejectsub',
                name: 'rejectsub',
                fieldset: {
                  legend: {
                    text: 'Type of information missing',
                    classes: 'govuk-fieldset__legend--m'
                  }
                },
                items: [
                  {
                    html: 'Parties’ capital positions if the order were to take effect',
                    value: 'parties’ capital position',
                    checked: checked('rejectsub', 'parties’ capital position') == 'checked'
                  },
                  {
                    html: 'Parties’ housing needs and whether they are met by the order',
                    value: 'parties’ housing',
                    checked: checked('rejectsub', 'parties’ housing') == 'checked'
                  },
                  {
                    html: 'Justification for departure from equality of capital',
                    value: 'parties’ pension',
                    checked: checked('rejectsub', 'parties’ pension') == 'checked'
                  },
                  {
                    html: 'Parties’ pension provision if the order were to take effect',
                    value: 'children’s housing',
                    checked: checked('rejectsub', 'children’s housing') == 'checked'
                  },
                  {
                    html: 'Children’s housing needs and whether they are met by the order',
                    value: 'children’s housing',
                    checked: checked('rejectsub', 'children’s housing') == 'checked'
                  }
                ]
            }) }}
            {% endset %}

            {% set otherReasonHtml %}

              {{ govukTextarea({
                name: 'otherReason',
                id: 'otherReason',
                label: {
                  text: 'Other reason',
                  classes: 'govuk-label--m'
                },
                value: data.otherReason
              }) }}

            {% endset %}

            {{ govukCheckboxes({
              idPrefix: 'reject',
              name: 'reject',
              fieldset: {
                legend: {
                  text: 'Why couldn’t you approve the consent order?',
                  isPageHeading: true,
                  classes: 'govuk-fieldset__legend--xl'
                }
              },
              hint: {
                text: 'Select all that apply. This information will be sent to the parties in an order.'
              },
              items: [
              {
                html: 'Not enough information given',
                value: 'Not enough information given',
                checked: (checked('reject','Not enough information given') == 'checked'),
                conditional: {
                  html: subReasonsHtml
                }
              },
              {
                html: 'Pension annex not uploaded',
                value: 'Pension annex not uploaded',
                checked: (checked('reject','Pension annex not uploaded') == 'checked')
              },
              {
                html: 'Not clear if respondent has taken independent legal advice',
                value: 'Not clear if respondent has taken independent legal advice',
                checked: (checked('reject','Not clear if respondent has taken independent legal advice') == 'checked')
              },
              {
                html: 'D81 form is incomplete',
                value: 'D81 form is incomplete',
                checked: (checked('reject','D81 form is incomplete') == 'checked')
              },
              {
                html: 'Other',
                value: 'Other',
                checked: (checked('reject','Other') == 'checked'),
                conditional: {
                  html: otherReasonHtml
                }
              }
            ],
              value: data['reject-notes']
            }) }}

            {{ govukTextarea({
              name: 'furtherInformation',
              id: 'furtherInformation',
              label: {
                text: 'Further information needed from parties (optional)',
                classes: 'govuk-label--m'
              },
              hint: {
                text: 'This will be sent to the parties in an order.'
              },
              value: data.furtherInformation
            }) }}

            {{ govukButton({
              text: 'Continue'
            }) }}

          </form>

        </div>

      </div>

		</main>

	</div>

{% endblock %}