{% extends "layouts/admin/base.html" %}

{% block pageTitle %}{% if errors %}({{errors.length}}) errors — {% endif %}Give reasons and directions {{'- ' + serviceName}}{% endblock %}

{% block content %}

  {{ juiCasebar({
    caseId: casebar.id,
    parties: casebar.parties
  }) }}

	<div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: backLink.href
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          {% if errors %}
            {{ govukErrorSummary({
              titleText: 'There is a problem',
              errorList: errors
            }) }}
          {% endif %}

          <h1 class="govuk-heading-xl">What should appear in the directions order?</h1>

          <form method="post">

            {% set otherReasonHtml %}

              {{ govukTextarea({
                name: 'otherReason',
                id: 'otherReason',
                label: {
                  text: 'Reason',
                  classes: 'govuk-label--m'
                },
                value: data.otherReason
              }) }}

            {% endset %}

            {% set otherTypeOfInformationHtml %}

              {{ govukTextarea({
                name: 'otherTypeOfInformation',
                id: 'otherTypeOfInformation',
                label: {
                  text: 'Reason',
                  classes: 'govuk-label--m'
                },
                value: data.otherTypeOfInformation
              }) }}

            {% endset %}

            {% set subReasonsHtml %}

              {{ govukCheckboxes({
                idPrefix: 'rejectsub',
                name: 'rejectsub',
                fieldset: {
                  legend: {
                    text: 'Information required',
                    classes: 'govuk-fieldset__legend--m'
                  }
                },
                items: [
                  {
                    html: 'The parties’ capital positions if the order were to take effect',
                    value: 'the parties’ capital positions if the order were to take effect',
                    checked: (checked('rejectsub', 'the parties’ capital positions if the order were to take effect') == 'checked')
                  },
                  {
                    html: 'The parties’ housing needs and whether they are met by the order',
                    value: 'the parties’ housing needs and whether they are met by the order',
                    checked: (checked('rejectsub', 'the parties’ housing needs and whether they are met by the order') == 'checked')
                  },
                  {
                    html: 'The justification for departure from equality of capital',
                    value: 'the justification for departure from equality of capital',
                    checked: (checked('rejectsub', 'the justification for departure from equality of capital') == 'checked')
                  },
                  {
                    html: 'The parties’ pension provision if the order were to take effect',
                    value: 'the parties’ pension provision if the order were to take effect',
                    checked: (checked('rejectsub', 'the parties’ pension provision if the order were to take effect') == 'checked')
                  },
                  {
                    html: 'The children’s housing needs and whether they are met by the order',
                    value: 'the children’s housing needs and whether they are met by the order',
                    checked: (checked('rejectsub', 'the children’s housing needs and whether they are met by the order') == 'checked')
                  },
                  {
                    html: 'The net effect of the order',
                    value: 'the net effect of the order',
                    checked: (checked('rejectsub', 'the net effect of the order') == 'checked')
                  },
                  {
                    html: 'Other',
                    value: 'other',
                    checked: (checked('rejectsub', 'other') == 'checked'),
                    conditional: {
                      html: otherTypeOfInformationHtml
                    }
                  }
                ]
              }) }}

            {% endset %}

            {{ govukCheckboxes({
              idPrefix: 'reject',
              name: 'reject',
              fieldset: {
                legend: {
                  text: 'Reasons the consent order was not approved',
                  classes: 'govuk-fieldset__legend--m'
                }
              },
              hint: {
                text: 'Select all that apply.'
              },
              items: [
                {
                  html: 'The parties need to attend a hearing',
                  value: 'The parties need to attend a hearing',
                  checked: (checked('reject','The parties need to attend a hearing') == 'checked')
                },
                {
                  html: 'Not enough information was supplied to decide if the order is fair',
                  value: 'Not enough information was supplied to decide if the order is fair',
                  checked: (checked('reject','Not enough information was supplied to decide if the order is fair') == 'checked'),
                  conditional: {
                    html: subReasonsHtml
                  }
                },
                {
                  html: 'The D81 form is incomplete',
                  value: 'The D81 form is incomplete',
                  checked: (checked('reject','The D81 form is incomplete') == 'checked')
                },
                {
                  html: 'The pension annex was not attached',
                  value: 'The pension annex was not attached',
                  checked: (checked('reject','The pension annex was not attached') == 'checked')
                },
                {
                  html: 'It’s not clear if the applicant has taken independent legal advice',
                  value: 'It’s not clear if the applicant has taken independent legal advice',
                  checked: (checked('reject','It’s not clear if the applicant has taken independent legal advice') == 'checked')
                },
                {
                  html: 'It’s not clear if the respondent has taken independent legal advice',
                  value: 'It’s not clear if the respondent has taken independent legal advice',
                  checked: (checked('reject','It’s not clear if the respondent has taken independent legal advice') == 'checked')
                },
                {
                  html: 'Other',
                  value: 'Other',
                  checked: (checked('reject','Other') == 'checked'),
                  conditional: {
                    html: otherReasonHtml
                  }
                }
              ],
              value: data['reject-notes']
            }) }}

            {{ govukTextarea({
              name: 'directions',
              id: 'directions',
              label: {
                text: 'Directions',
                classes: 'govuk-label--m'
              },
              value: data['directions']
            }) }}

            {{ govukButton({
              text: 'Continue'
            }) }}

          </form>

        </div>

      </div>

		</main>

	</div>

{% endblock %}