{% extends "layouts/admin/base.html" %}

{% block pageTitle %}
{% if errors %}
  ({{errors.length}}) errors —
{% endif %}
Decision{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties,
  caseActions: {
    actions: caseActions
  }
}) }}

	<div class="jui-width-container">

    {{ govukBackLink({
      "text": "Back",
      "href": backLink.href
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {% if errors %}
            {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errors
            }) }}
          {% endif %}

          <form method="post">

            {% set subReasonsHtml %}
              {{ govukCheckboxes({
                "idPrefix": "rejectsub",
                "name": "rejectsub",
                "fieldset": {
                  "legend": {
                    "text": '',
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                "items": [
                  {
                    html: " parties’ capital position",
                    value: "parties’ capital position"
                  },
                  {
                    html: "parties’ housing",
                    value: "parties’ housing"
                  },
                  {
                    html: "parties’ pension",
                    value: "parties’ pension"
                  },
                  {
                    html: "children’s housing",
                    value: "children’s housing"
                  }
                ]
            }) }}
            {% endset %}

            {% set otherReasonHtml %}
              {{ govukInput({
                "id": "otherReason",
                "name": "otherReason",
                "label": {
                  "text": 'Other reason',
                  "classes": "govuk-label--m"
                },
                value: ''
              }) }}
            {% endset %}


            {{ govukCheckboxes({
              "idPrefix": "reject",
              "name": "reject",
              "fieldset": {
                "legend": {
                  "text": 'Reasons for rejecting the consent order',
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              "items": [
                {
                  html: "Not enough information given on how the order will affect the",
                  value: "not enough",
                  conditional: {
                    html: subReasonsHtml
                  }
                },
                {
                  html: "Pension annex not uploaded",
                  value: "Pension annex not uploaded"
                },
                {
                  html: "Not clear if respondent has taken independent legal advice",
                  value: "Not clear if respondent has taken independent legal advice"
                },
                {
                  html: "D81 form is incomplete",
                  value: "D81 form is incomplete"
                },
                {
                  html: "Other",
                  value: "Other",
                  conditional: {
                    html: otherReasonHtml
                  }
                }
              ]
            }) }}

            {{ govukButton({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

		</main>

	</div>

{% endblock %}

