{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Managing therapy or monitoring a health condition {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties
}) }}

	<div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Daily living</span>
            Managing therapy or monitoring a health condition
          </h1>

          <form method="post">

            <p>Add radios...</p>

            {{ govukTextarea({
              name: 'managing-therapy-change',
              id: 'managing-therapy-change',
              rows: '5',
              label: {
                text: 'Indicate the reasons for the change to this descriptor',
                classes: 'govuk-label--m'
              },
              value: data['managing-therapy-change']
            }) }}

            {{ govukButton({
              text: 'Continue'
            }) }}

          </form>

        </div>

      </div>

		</main>

	</div>

{% endblock %}
