{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Explain the tribunal’s view {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties
}) }}

	<div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Explain the tribunal’s view</h1>

          {{ govukInsetText({
            text: 'This will be sent to both the appellant and DWP.',
            classes: 'govuk-!-margin-bottom-8'
          }) }}

          {{ govukTable({
            classes: 'govuk-!-margin-bottom-8',
            caption: 'Activities and descriptors you consider relevant to the appeal',
            captionClasses: 'govuk-heading-l',
            head: [
              {text: 'Activity'},
              {text: 'Descriptor'},
              {text: 'Points'},
              {text: ''}
            ],
            rows: [
              [
                {text: 'Preparing food'},
                {text: 'Needs to use an aid or appliance to be able to prepare or cook a simple meal'},
                {text: '2'},
                {
                  html: '<a href="/app/cases/'+_case.id+'/pip/decision/preliminary/preparing-food">Change<span class="govuk-visually-hidden"> new score for daily living: preparing food</span></a>',
                  format: 'numeric'
                }
              ],
              [
                {text: 'Washing and bathing'},
                {text: 'Needs to use an aid or appliance to be able to wash or bathe'},
                {text: '2'},
                {
                  html: '<a href="/app/cases/'+_case.id+'/pip/decision/preliminary/washing-bathing">Change<span class="govuk-visually-hidden"> new score for daily living: washng and bathing</span></a>',
                  format: 'numeric'
                }
              ],
              [
                {text: 'Managing toilet needs or incontinence'},
                {text: 'Needs to use an aid or appliance to be able to manage my toilet needs or incontinence'},
                {text: '2'},
                {
                  html: '<a href="/app/cases/'+_case.id+'/pip/decision/preliminary/managing-toilet">Change<span class="govuk-visually-hidden"> new score for daily living: managing toilet needs or incontinence</span></a>',
                  format: 'numeric'
                }
              ],
              [
                {text: 'Dressing and undressing'},
                {text: 'Needs to use an aid or appliance to be able to dress or undress'},
                {text: '2'},
                {
                  html: '<a href="/app/cases/'+_case.id+'/pip/decision/preliminary/dressing-undressing">Change<span class="govuk-visually-hidden"> new score for daily living: dressing and undressing</span></a>',
                  format: 'numeric'
                }
              ]
            ]
          }) }}

          <form method="post">

            {{ govukTextarea({
              name: 'additionalReasons',
              id: 'additionalReasons',
              rows: '10',
              attributes: {
                wrap: 'hard'
              },
              label: {
                text: 'Reasons for the tribunal’s view',
                classes: 'govuk-label--l'
              },
              value: data['additionalReasons']
            }) }}

            {{ govukButton({
              text: 'Continue'
            }) }}

          </form>

        </div>

      </div>

		</main>

	</div>

{% endblock %}