{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Prepare decision notes for appellant {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties
}) }}

	<div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Explain the tribunal’s decision</h1>

          {{ govukInsetText({
            text: 'This will be sent to the appellant.',
            classes: 'govuk-!-margin-bottom-8'
          }) }}

          <form method="post">

            {{ govukTextarea({
              name: 'additionalReasons',
              id: 'additionalReasons',
              rows: '5',
              label: {
                text: 'Overview',
                classes: 'govuk-label--l'
              }
            }) }}

            <hr class="govuk-section-break govuk-section-break--xl">

            <h2 class="govuk-heading-l">Reasons for each descriptor</h2>

            {% if checked('dailyliving', 'Preparing food') == 'checked' %}

              {{ govukTextarea({
                name: 'preparing-food-change',
                id: 'preparing-food-change',
                rows: '5',
                label: {
                  text: 'Preparing food',
                  classes: 'govuk-label--m'
                },
                hint: {
                  text: 'You selected ‘' + data['preparing-food'] + '.’'
                },
                value: data['preparing-food-change']
              }) }}

            {% endif %}

            {% if checked('dailyliving', 'Taking nutrition') == 'checked' %}

              {{ govukTextarea({
                name: 'taking-nutrition-change',
                id: 'taking-nutrition-change',
                rows: '5',
                label: {
                  text: 'Taking nutrition',
                  classes: 'govuk-label--m'
                },
                hint: {
                  text: 'You selected ‘' + data['taking-nutrition'] + '.’'
                },
                value: data['taking-nutrition-change']
              }) }}

            {% endif %}

            {% if checked('dailyliving', 'Managing therapy') == 'checked' %}

              {{ govukTextarea({
                name: 'managing-therapy-change',
                id: 'managing-therapy-change',
                rows: '5',
                label: {
                  text: 'Managing therapy or monitoring a health condition',
                  classes: 'govuk-label--m'
                },
                hint: {
                  text: 'You selected ‘' + data['managing-therapy'] + '.’'
                },
                value: data['managing-therapy-change']
              }) }}

            {% endif %}

            {% if checked('dailyliving', 'Washing and bathing') == 'checked' %}

              {{ govukTextarea({
                name: 'washing-bathing-change',
                id: 'washing-bathing-change',
                rows: '5',
                label: {
                  text: 'Washing and bathing ',
                  classes: 'govuk-label--m'
                },
                hint: {
                  text: 'You selected ‘' + data['washing-bathing'] + '.’'
                },
                value: data['washing-bathing-change']
              }) }}

            {% endif %}

            {% if checked('dailyliving', 'Managing toilet') == 'checked' %}

              {{ govukTextarea({
                name: 'managing-toilet-change',
                id: 'managing-toilet-change',
                rows: '5',
                label: {
                  text: 'Managing toilet needs or incontinence ',
                  classes: 'govuk-label--m'
                },
                hint: {
                  text: 'You selected ‘' + data['managing-toilet'] + '.’'
                },
                value: data['managing-toilet-change']
              }) }}

            {% endif %}

            {% if checked('dailyliving', 'Dressing and undressing') == 'checked' %}

              {{ govukTextarea({
                name: 'dressing-undressing-change',
                id: 'dressing-undressing-change',
                rows: '5',
                label: {
                  text: 'Dressing and undressing',
                  classes: 'govuk-label--m'
                },
                hint: {
                  text: 'You selected ‘' + data['dressing-undressing'] + '.’'
                },
                value: data['dressing-undressing-change']
              }) }}

            {% endif %}

            {% if checked('dailyliving', 'Communicating verbally') == 'checked' %}

              {{ govukTextarea({
                name: 'communicating-verbally-change',
                id: 'communicating-verbally-change',
                rows: '5',
                label: {
                  text: 'Communicating verbally',
                  classes: 'govuk-label--m'
                },
                hint: {
                  text: 'You selected ‘' + data['communicating-verbally'] + '.’'
                },
                value: data['communicating-verbally-change']
              }) }}

            {% endif %}

            {% if checked('dailyliving', 'Reading signs') == 'checked' %}

              {{ govukTextarea({
                name: 'reading-signs-change',
                id: 'reading-signs-change',
                rows: '5',
                label: {
                  text: 'Reading and understanding signs, symbols and words',
                  classes: 'govuk-label--m'
                },
                hint: {
                  text: 'You selected ‘' + data['reading-signs'] + '.’'
                },
                value: data['reading-signs-change']
              }) }}

            {% endif %}

            {% if checked('dailyliving', 'Making budgeting') == 'checked' %}

              {{ govukTextarea({
                name: 'budgeting-decision-change',
                id: 'budgeting-decision-change',
                rows: '5',
                label: {
                  text: 'Making budgeting decision',
                  classes: 'govuk-label--m'
                },
                hint: {
                  text: 'You selected ‘' + data['budgeting-decisions'] + '.’'
                },
                value: data['budgeting-decision-change']
              }) }}

            {% endif %}

            {{ govukButton({
              text: 'Continue'
            }) }}

          </form>

        </div>

      </div>

		</main>

	</div>

{% endblock %}
