{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Linked cases {{'- ' + serviceName}}{% endblock %}

{% block content %}


{% set reservedBadgeHtml %}
    {% if _case.reserved %}
    {{ hmctsBadge({
      classes: 'govuk-!-margin-left-1',
      text: _case.reserved
    }) }}
    {% endif %}
  {% endset %}


{{ hmctsIdentityBar({
title: {
  html: casebar.parties + reservedBadgeHtml
  },
menus: caseActions
}) }}

	<div class="hmcts-width-container">

    <main class="govuk-main-wrapper" role="main">

      {% if success %}
        {{ hmctsBanner({
          type: 'success',
          text: success,
          iconFallbackText: 'Success'
        }) }}
      {% endif %}

      {{ hmctsSubNavigation({
        items: caseNavItems
      }) }}


      <h1 class="govuk-heading-xl">Linked cases</h1>

      {% if linkedCaseRows.length %}

        {{ govukTable({
          firstCellIsHeader: true,
          head: [
            {
              text: "Reference"
            },
            {
              text: "Parties"
            },
            {
              text: "Type"
            },
            {
              text: "Reason"
            },
            {
              text: "Linked by"
            },
            {
              text: ""
            }
          ],
          rows: linkedCaseRows
        }) }}
      {% else %}
        <p class="govuk-body">There are no linked cases.</p>
      {% endif %}

      {{govukButton({
        href: '/app/cases/'+_case.id+'/linked-cases/new',
        text: 'Add new linked case',
        classes: 'hmcts-button--secondary'
      })}}

        <h2 class="govuk-heading-l">Related cases</h2>
        {% if relatedCaseRows.length %}
        {{ govukTable({
          firstCellIsHeader: true,
          head: [
            {
              text: "Reference"
            },
            {
              text: "Parties"
            },
            {
              text: "Type"
            },
            {
              text: "Reason"
            },
            {
              text: "Added by"
            },
            {
              text: ""
            }
          ],
          rows: relatedCaseRows
        }) }}
        {% else %}
          <p class="govuk-body">There are no related cases.</p>
        {% endif %}
        {{govukButton({
          href: '/app/cases/'+_case.id+'/related-cases/new',
          text: 'Add new related case',
          classes: 'hmcts-button--secondary'
        })}}

		</main>
	</div>
{% endblock %}