{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Linked cases {{'- ' + serviceName}}{% endblock %}

{% block content %}

  {{ hmctsIdentityBar({
    title: {
      html: casebar.parties
      },
    menus: caseActions
  }) }}

	<div class="jui-width-container">

    <main class="govuk-main-wrapper" role="main">

      {% if success %}
        {{ hmctsBanner({
          type: 'success',
          text: success,
          iconFallbackText: 'Success'
        }) }}
      {% endif %}

      {{ hmctsSubNavigation({
        items: caseNavItems
      }) }}


      {{ hmctsPageHeaderWithActions({
        title: {
          html: '
          <h1 class="govuk-heading-xl">Linked cases</h1>'
        },
        items: [{
          classes: 'hmcts-button--secondary',
          text: 'Link a case',
          href: '/app/cases/'+_case.id+'/linked-cases/new'
        }]
      }) }}


      {% for case in linkedCases %}
        {{case.url}}
      {% endfor %}

      {{ govukTable({
        firstCellIsHeader: true,
        head: [
          {
            text: "Reference"
          },
          {
            text: "Parties"
          },
          {
            text: "Type"
          },
          {
            text: "Reason"
          },
          {
            text: "Linked by"
          },
          {
            text: ""
          }
        ],
        rows: linkedCaseRows
      }) }}
		</main>
	</div>
{% endblock %}