{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Linked cases {{'- ' + serviceName}}{% endblock %}

{% block content %}


{% set reservedBadgeHtml %}
    {% if _case.reserved %}
    {{ hmctsBadge({
      classes: 'govuk-!-margin-left-1',
      text: _case.reserved
    }) }}
    {% endif %}
  {% endset %}


{{ hmctsIdentityBar({
title: {
  html: casebar.parties + reservedBadgeHtml
  },
menus: caseActions
}) }}

	<div class="hmcts-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: './'
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <!-- <span class="govuk-caption-xl">Link a case</span>
      <h1 class="govuk-heading-xl">Search results</h1> -->

      <h1 class="govuk-heading-xl">Link case</h1>

      {% set checkbox %}
      <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="selectall-1" name="selectall" type="checkbox" value="selectall">
          <label class="govuk-label govuk-checkboxes__label" for="selectall-1">

          </label>
        </div>
      {% endset %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/app/cases/{{_case.id}}/linked-cases/new" method="post">


            {{ govukInput({
              label: {
                text: 'Case number',
                classes: 'govuk-label--m'
              },
              classes: "govuk-input--width-20",
              id: 'case-number',
              name: 'case-number'
            }) }}

            {{ govukTextarea({
              label: {
                text: 'Reason for linking',
                classes: 'govuk-label--m'
              },
              id: 'reason',
              name: 'reason'
            }) }}

            {{ govukButton({
              text: 'Link case'
            }) }}
        </form>
      </div>
    </div>




		</main>

	</div>
{% endblock %}