{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Unreserve case {{'- ' + serviceName}}{% endblock %}

{% block content %}

  {% set reservedBadgeHtml %}
    {% if _case.reserved %}
      {{ hmctsBadge({
        classes: 'govuk-!-margin-left-1',
        text: _case.reserved
      }) }}
    {% endif %}
  {% endset %}


  {{ hmctsIdentityBar({
    title: {
      html: casebar.parties + reservedBadgeHtml
    }
  }) }}

	<div class="hmcts-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: './'
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">


          <h1 class="govuk-heading-xl">Check your answers before removing the reservation</h1>

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Why do you want to cancel the reservation?"
                },
                value: {
                  text: data.reason
                },
                actions: {
                  items: [
                    {
                      href: "/app/cases/"+_case.id+"/unreserve/",
                      text: "Change",
                      visuallyHiddenText: "why you're you're reserving the case"
                    }
                  ]
                }
              }
            ]
          }) }}

          <form method="post">
            {{ govukButton({
              "text": "Cancel reservation"
            }) }}
          </form>

        </div>
      </div>


		</main>
	</div>
{% endblock %}