{% extends "layouts/admin/base.html" %}

{% set pageID = "your-cases" %}

{% block pageTitle %}Your cases {{'- ' + serviceName}}{% endblock %}

{%- block header %}
{% set toggleSearchHtml %}
<div class="hmcts-search-toggle">
  <div class="hmcts-search-toggle__toggle"></div>
  <div class="hmcts-search-toggle__search">
    {{ hmctsSearch({
      action: '/app/search-results',
      classes: 'hmcts-search--ondark hmcts-search--toggle hmcts-hidden',
      input: {
        id: 'search2',
        name: 'search2'
      },
      label: {
        classes: 'govuk-visually-hidden',
        text: 'Search'
      },
      hint: {
        text: 'Enter case number or party name.'
      },
      button: {
        text: 'Search'
      }
    }) }}
  </div>
</div>
{% endset %}


{% if pageID == "Signin" %}

{{ hmctsGlobalHeader({

  service: {
    name: serviceName,
    url: '/app/dashboard'
  }

}) }}

{% else %}

{% macro alertLink(params) %}
  <span class="jui-alert-link">
    <span class="jui-alert-link__text">{{params.text}}</span><span class="jui-alert-link__number">{{params.number}}</span>
  </span>
{% endmacro %}

{% set alertsLinkHtml %}
  {{alertLink({
    text: 'Notifications',
    number: '2'
  })}}
{% endset %}




{{ hmctsGlobalHeader({

  service: {
    name: serviceName,
    url: '/app/dashboard'
  },

  navigation: {
    label: 'Account navigation',
    items: [{
      html: alertsLinkHtml,
      href: '/app/alerts'
    }, {
      text: 'Sign out',
      href: '/sign-out'
    }]
  }

}) }}

{{ hmctsPrimaryNavigation({
  label: 'Primary navigation',
  items: [{
    html: 'Your cases',
    href: '/case-lists/v2/todo',
    active: true
  }],
  searchHtml: toggleSearchHtml
}) }}
{% endif %}


{% endblock -%}


{% block content %}

<div class="hmcts-width-container">

  <main class="govuk-main-wrapper" role="main">

    {{ hmctsSubNavigation({
      items: [{
        href: '/case-lists/v2/todo',
        text: 'To do (3)',
        active: true
      }, {
        href: '/case-lists/v2/waiting-on',
        text: 'Bookmarked (2)',
        active: false
      }]
    }) }}


    {{ hmctsPageHeaderWithActions({
      title: {
        html: '<h1 class="govuk-heading-xl">To do</h1>'
      },
      items: [{
        text: 'Get new case',
        href: './get-new-case'
      }]
    }) }}

    <table class="govuk-table">


      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Reference</th>
          <th class="govuk-table__header" scope="col">Type</th>
          <th class="govuk-table__header" scope="col">Task</th>
          <th class="govuk-table__header" scope="col"></th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">



        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Warren Sutton and DWP<br><span class="govuk-caption-m govuk-!-font-size-16">SC1231612322</span></td>

            <td class="govuk-table__cell">Financial remedy</td>

            <td class="govuk-table__cell" style="max-width: 50%">View appellant's answers and decide what to do next.</td>
            <td class="govuk-table__cell">
                {{ hmctsBadge({
                  text: 'Urgent',
                  classes: 'hmcts-badge--red'
                }) }}
            </td>
            <td class="govuk-table__cell"><a href="/app/cases/SC1231612322">View</a></td>

          </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Alan Jones and DWP<br><span class="govuk-caption-m govuk-!-font-size-16">SC1231612323</span></td>
          <td class="govuk-table__cell">PIP</td>
          <td class="govuk-table__cell" style="max-width: 50%">Approve or reject appellant's extension deadline request.</td>
          <td class="govuk-table__cell"> </td>
          <td class="govuk-table__cell"><a href="/app/cases/SC1231612323">View</a></td>
        </tr>

        <tr class="govuk-table__row">


          <td class="govuk-table__cell">Maggie Gale and William Gale<br><span class="govuk-caption-m govuk-!-font-size-16">FR1231612399</span></td>



          <td class="govuk-table__cell">Financial remedy</td>

          <td class="govuk-table__cell" style="width: 50%">Check referral notes and decide what to do.</td>
          <td class="govuk-table__cell">

          </td>
          <td class="govuk-table__cell"><a href="/app/cases/FR1231612399">View</a></td>


          </tr>

      </tbody>
    </table>

  </main>

</div>

{% endblock %}