{% extends "layouts/admin/base.html" %}

{% set pageID = "Dashboard" %}

{% block pageTitle %}Dashboard{% endblock %}

{% block content %}

<div class="jui-width-container">

  <main class="govuk-main-wrapper" role="main">

    {% if success %}
      {{ juiAlert(
        {
          icon: true,
          iconClasses: 'jui-alert__icon--success',
          iconText: 'Success!',
          alertText: success,
          alertClasses: 'jui-alert--success'
        })
      }}
    {% endif %}

    <h1 class="govuk-heading-xl">Dashboard</h1>

    {{ govukTable({
        caption: 'Your cases',
        captionClasses: 'govuk-heading-m',
        firstCellIsHeader: true,
        head: [
          {text: 'Case number'},
          {text: 'Parties'},
          {text: 'Type'},
          {text: 'Decision needed on'},
          {text: 'Case received'},
          {text: 'Date of last event'}
        ],
        rows: caseList
      }) }}

      {{ govukButton({
        text: 'Get new case',
        href: './get-new-case'
      }) }}

  </main>

</div>

{% endblock %}