{% extends "layouts/admin/base.html" %}

{% set pageID = "your-cases" %}

{% block pageTitle %}Your cases {{'- ' + serviceName}}{% endblock %}

{% block content %}

<div class="hmcts-width-container">

  <main class="govuk-main-wrapper" role="main">

    {% if success %}
      {{ hmctsBanner({
          type: 'success',
          text: success,
          iconFallbackText: 'Success'
        }) }}
    {% endif %}

    {{ hmctsSubNavigation({
      items: [{
        href: '/app/dashboard',
        text: 'To do (4)',
        active: true
      }, {
        href: '/app/dashboard/waiting-on',
        text: 'Bookmarked (3)',
        active: false
      }]
    }) }}

    {{ hmctsPageHeaderWithActions({
      title: {
        html: '<h1 class="govuk-heading-xl">To do</h1>'
      },
      items: [{
        text: 'Get new case',
        href: './get-new-case'
      }]
    }) }}

    {{ govukTable({
        firstCellIsHeader: false,
        head: [
          { text: 'Reference'},
          { text: 'Parties'},
          { text: 'Task' }
        ],
        rows: caseList
      }) }}

  </main>

</div>

{% endblock %}