{% extends "layouts/admin/casefile.html" %}

{% block file_content %}

  <div class="jui-casefile-page-content" data-page="1">

    <div class="jui-casefile-page-head">
      <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
    </div>

    <div class="jui-casefile-page-body">

      <h2 class="govuk-heading-l">Form A</h2>

      <p>Mr Alan Jones does not qualify for an award of the mobility component from 12/07/2017. He scores 4 points. This is insufficient to meet the threshold for the test.</p>

      <p>By reason of mental and physical health problems significantly limited. As a result Mr Alan Jones qualifies for the above award of Personal Independence Payment. In reaching its decision the Tribunal considered all of the evidence.</p>

    </div>

  </div>

{% endblock %}