{% extends "layouts/admin/casefile-3.html" %}

{% block file_content %}

  <iframe src="/public/downloads/DecreeNisi.pdf" height="2432" width="100%"></iframe>
  <!--
  <div class="jui-casefile-page-content" data-page="1">

    <div class="jui-casefile-page-head">
      <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
    </div>

    <div class="jui-casefile-page-body">

      <h2 class="govuk-heading-l">Consent order</h2>

      <p>By reason of mental and physical health problems significantly limited. As a result Mr Alan Jones qualifies for the above award of Personal Independence Payment. In reaching its decision the Tribunal considered all of the evidence.</p>

    </div>

  </div>

  <div class="jui-casefile-page-content" data-page="2">

    <div class="jui-casefile-page-head">
      <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
    </div>

    <div class="jui-casefile-page-body">

      {{ govukTable({
        "firstCellIsHeader": true,
        "caption": "Section 1 (continued)",
        "captionClasses": "govuk-heading-s",
        "classes": "  govuk-!-margin-bottom-8  jui-table  jui-table--fixed",
        "rows": [
          [
            {"text": "Decision Maker’s name and address where documents for the Decision Maker may be sent or delivered"},
            {"html": "Arron Setton<br>Personal Independence Payment (9)<br>Mall Handling Site 29<br>Liverpool, WV78 1AA"}
          ],
          [
            {"text": "Name and addresses of any other respondents and their representatives."},
            {"html": "Joseph Fontainour<br>123 The Way<br>London<br>B4 4FF"}
          ],
          [
            {"text": "Name and address of Appoinetee"},
            {"html": "N/A"}
          ]
        ]
      }) }}

    </div>


  </div>
  -->

{% endblock %}