{% extends "layouts/admin/base-clear.html" %} %}

{% block content %}

<style type="text/css">
  .side-space {
    margin-left: .5em;
    margin-right: .5em;
  }

  .icon-medium {
    font-size: 24px;
    &:before vertical-align: bottom;
    padding-bottom: 1em;
  }

  .icon-small {
    font-size: 16px;
    &:before vertical-align: middle;
    padding-bottom: 1em;
  }

  .icon-xs {
    width: .5em;
  }


  .side-space-right {

    margin-right: .3em;
  }

  .icon-medium {
    font-size: 24px;
    &:before vertical-align: bottom;
    padding-bottom: 1em;
  }

  .icon-small {
    font-size: 16px;
    &:before vertical-align: middle;
    padding-bottom: 1em;
  }

  .side-space-left {

    margin-left: .3em;
    margin-right: .3em;
  }

  .icon-medium {
    font-size: 24px;
    &:before vertical-align: bottom;
    padding-bottom: 1em;

  }

  .icon-small {
    font-size: 16px;
    &:before vertical-align: middle;
    padding-bottom: 1em;
  }



  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  /* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

  .icon-icon-draw-box {
    width: 1.0em;
  }

  .icon-icon-highlight {
    width: 1.0em;
  }

  .hmcts-toolbar-input {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin-top: 0;
    padding: 2px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .hmcts-toolbar-select {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25 box-sizing: border-box;
    max-width: 100%;
    height: 24px;
    padding: 0px;
    border: 2px solid #0b0c0c;
  }

  .hmcts-toolbar-width-container {
    max-width: 1440px;
    margin: 0px;
  }
</style>




<main class="govuk-main-wrapper govuk-!-padding-bottom-0" role="main">
  <div class="hmcts-toolbar-width-container">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><span class="govuk-caption-xl">Components</span>Media Viewer Toolbar</h1>

    <strong class="govuk-tag govuk-!-margin-bottom-8">
      experimental
    </strong>

    <p class="govuk-body">Use the Media Viewer Toolbar component for any service or system not hosted on GOV.UK such as those for the judiciary or HMCTS staff.</p>
    <p class="govuk-body">Do not use this for citizen-facing services.</p>



    <h2 class="govuk-heading-m" id="how-it-works">Toolbar versions</h2>
    <!--
<p>You may be able to configure this component using the <a href="https://github.com/hmcts/frontend/tree/master/src/components/hmcts-header#arguments">Nunjucks macro arguments</a></p> -->
    <h3 class="govuk-heading-m" id="how-it-works">Version 1 - initial</h3>
    <p><a href=""><img src="/public/images/toolbar.png" alt="Toolbar"></a></p>
    <h3 class="govuk-heading-m" id="how-it-works">Version 2 - additional features</h3>
    <p><a href=""><img src="/public/images/toolbar-extra.png" alt="Toolbar"></a></p>
    <p><a href=""><img src="/public/images/toolbar-extra-focus.png" alt="Toolbar"></a></p>

    <h2 class="govuk-heading-m" id="how-it-works">How it works</h2>
    <p class="govuk-body">The Media Viewer Tool has been designed to be used when opening the Media Viewer in an external (new) window.</p>
    <h2 class="govuk-heading-m" id="research-on-this-component">Research on this component</h2>
    <p class="govuk-body">This toolbar has been tested with 1 Judge.</p>
    <h2 class="govuk-heading-m" id="design elements">Design elements</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Index (aka Document outline)</li>
      <li>Draw a box</li>
      <li>Highlight</li>
      <li>Page</li>
      <li>Zoom</li>
      <li>Rotate</li>
      <li>Present</li>
      <li>Redact</li>
      <li>Download</li>
      <li>Print</li>
      <li>Search</li>
    </ul>


    <h2 class="govuk-heading-m" id="how-it-works">Search</h2>
    <p>Basic search</p>
    <a href="">
      <img src="/public/images/search-c.png" alt="Toolbar"></a><br>
    <p>Options behind advanced search</p>
    <a href="">
      <img src="/public/images/search-o.png" alt="Toolbar"></a>

    <br><br>
    <h2 class="govuk-heading-m" id="how-it-works">Code examples</h2>
    <h3 class="govuk-heading-s" id="how-it-works">Toolbar with button</h3>

    <div class="jui-toolbar">
      <div class="mv-toolbar__container">
        <button class="jui-toolbar__button jui-toolbar__button--items" aria-pressed="false">Index</button>
        <button class="jui-toolbar__button jui-toolbar__menu-button--draw" aria-pressed="false">Draw a box</button>
        <button class="jui-toolbar__button jui-toolbar__menu-button--highlight" aria-pressed="false">Highlight</button>
        <button class="jui-toolbar__button " aria-pressed="false">Page<span class="jui-toolbar__menu-button--down"></span><span class="jui-toolbar__menu-button--up"></span><input class="hmcts-toolbar-input govuk-input--width-2" id="width-2"
            name="width-2" type="text" value="9"> / 10</button>
        <button class="jui-toolbar__button " aria-pressed="false">Zoom<span class="jui-toolbar__menu-button--zoom-out"></span><select class="hmcts-toolbar-select" id="sort" name="sort">
            <option value="10">10%</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100" selected>100%</option>
            <option value="125">125%</option>
            <option value="150">150%</option>
            <option value="250">250%</option>
            <option value="300">300%</option>
            <option value="500">500%</option>
          </select><span class="jui-toolbar__menu-button--zoom-in"></span></button>
        <button class="jui-toolbar__button jui-toolbar__menu-button--rotate" aria-pressed="false">Rotate</button>
        <button class="jui-toolbar__button jui-toolbar__menu-button--download" aria-pressed="false">Download</button>
        <button class="jui-toolbar__button jui-toolbar__menu-button--printer" aria-pressed="false">Print</button>
        <button class="jui-toolbar__button jui-toolbar__menu-button--search" aria-pressed="false">Search</button>
      </div>
    </div>
    <br><br>

    <h3 class="govuk-heading-s" id="how-it-works">Buttons</h3>

    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__button--items" aria-pressed="false">Index</button>
    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__button--items" aria-pressed="true">Index</button>

    </div>
    <br><br>

    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--draw" aria-pressed="false">Draw a box</button>
    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--draw" aria-pressed="true">Draw a box</button>

    </div>
    <br>

    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--highlight" aria-pressed="false">Highlight</button>

    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--highlight" aria-pressed="true">Highlight</button>

    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button " aria-pressed="false">Page<span class="jui-toolbar__menu-button--down"></span><span class="jui-toolbar__menu-button--up"></span><input class="hmcts-toolbar-input govuk-input--width-2" id="width-2"
          name="width-2" type="text" value="9"> / 10</button>
    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button " aria-pressed="true">Page<span class="jui-toolbar__menu-button--down"></span><span class="jui-toolbar__menu-button--up"></span><input class="hmcts-toolbar-input govuk-input--width-2" id="width-2"
          name="width-2" type="text" value="9"> / 10</button>
    </div>

    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button " aria-pressed="false">Zoom<span class="jui-toolbar__menu-button--zoom-out"></span><select class="hmcts-toolbar-select" id="sort" name="sort">
          <option value="10">10%</option>
          <option value="25">25%</option>
          <option value="50">50%</option>
          <option value="75">75%</option>
          <option value="100" selected>100%</option>
          <option value="125">125%</option>
          <option value="150">150%</option>
          <option value="250">250%</option>
          <option value="300">300%</option>
          <option value="500">500%</option>
        </select><span class="jui-toolbar__menu-button--zoom-in"></span></button>

    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button " aria-pressed="true">Zoom<span class="jui-toolbar__menu-button--zoom-out"></span><select class="hmcts-toolbar-select" id="sort" name="sort">
          <option value="10">10%</option>
          <option value="25">25%</option>
          <option value="50">50%</option>
          <option value="75">75%</option>
          <option value="100" selected>100%</option>
          <option value="125">125%</option>
          <option value="150">150%</option>
          <option value="250">250%</option>
          <option value="300">300%</option>
          <option value="500">500%</option>
        </select><span class="jui-toolbar__menu-button--zoom-in"></span></button>

    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--rotate" aria-pressed="false">Rotate</button>
    </div>
    <br>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--rotate" aria-pressed="true">Rotate</button>
    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--present" aria-pressed="false">Present</button>
    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--present" aria-pressed="true">Present</button>
    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--marker" aria-pressed="false">Redact</button>
    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--marker" aria-pressed="true">Redact</button>
    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--download" aria-pressed="false">Download</button>
    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--download" aria-pressed="true">Download</button>
    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--printer" aria-pressed="false">Print</button>
    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--printer" aria-pressed="true">Print</button>

    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--search" aria-pressed="false">Search</button>
    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--search" aria-pressed="true">Search</button>
    </div>
    <br>
    <h3 class="govuk-heading-s" id="how-it-works">Redact sub navigation items</h3>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--previewshow" aria-pressed="false">Preview all marked content</button>
    </div>
    <br>
    <div class="jui-toolbar__container">
      <button class="jui-toolbar__button jui-toolbar__menu-button--previewhide" aria-pressed="true">Hide all marked content</button>
    </div>
    <br>
    <h3 class="govuk-heading-s" id="how-it-works">Code example pressed</h3>
    <div class="jui-toolbar">
      <div class="jui-toolbar__container">
        <button class="jui-toolbar__button jui-toolbar__button--items" aria-pressed="true">Index</button>
      </div>
    </div>
    <br><br>



    <h2 class="govuk-heading-m" id="how-it-works">ROUGH code example</h2>

    <div class="govuk-form-group govuk-body-s "><span>Page</span><span class="hod-arrow-down side-space-left icon-medium"></span> <span class="hod-arrow-up side-space-right icon-medium"></span>

      <input class="govuk-input govuk-input--width-2" id="width-1" name="width-1" type="text" value="9"> / 10
    </div>

    <div class="govuk-form-group"> <Span class="govuk-body-s" for="sort">
        Zoom
      </span><span class="hod-search-minus side-space icon-medium"></span>
      <select class="govuk-select" id="sort" name="sort">
        <option value="10">10%</option>
        <option value="25">25%</option>
        <option value="50">50%</option>
        <option value="75">75%</option>
        <option value="100" selected>100%</option>
        <option value="125">125%</option>
        <option value="150">150%</option>
        <option value="250">250%</option>
        <option value="300">300%</option>
        <option value="500">500%</option>
      </select><span class="hod-search-plus side-space icon-medium"></span>
    </div>
    <br>

    <h2 id="navigation-icons" class="govuk-heading-m">Toolbar icons</h2>
    <p class="govuk-body">Helps users activate a feature</p>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
      </tbody>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Icon</th>
          <th class="govuk-table__header" scope="col">Label</th>
          <th class="govuk-table__header" scope="col">Class name</th>
        </tr>
      </thead>
      <!-- hod-home-3 -->
      <tbody>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="side-space icon-medium"><img src="/public/images/icon-casefile-items.svg"></span></th>
          <th class="govuk-table__cell table-summary-content">Index</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup"></code></th>
        </tr>
        <!-- hod-draw -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="side-space icon-xs"><img src="/public/images/icon-draw-box.svg"></span></th>
          <th class="govuk-table__cell table-summary-content">Draw a box</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup"></code></th>
        </tr>
        <!-- hod-key -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="side-space icon-xsn"><img src="/public/images/icon-highlight.svg"></span></th>
          <th class="govuk-table__cell table-summary-content">Highlight</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup"></code></th>
        </tr>

        <!-- hod-arrow-down -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="hod-arrow-down side-space icon-medium"></span></th>
          <th class="govuk-table__cell table-summary-content">Down</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-arrow-down</code></th>
        </tr>

        <!-- hod-arrow-up -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="hod-arrow-up side-space icon-medium"></span></th>
          <th class="govuk-table__cell table-summary-content">Up</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-arrow-up</code></th>
        </tr>
        <!-- hod-search -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="hod-search side-space icon-medium"></span></th>
          <th class="govuk-table__cell table-summary-content">Search</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-search</code></th>
        </tr>
        <!-- hod-search -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="hod-search side-space icon-medium"></span></th>
          <th class="govuk-table__cell table-summary-content">Search</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-search</code></th>
        </tr>
        <!-- hod-present -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="side-space icon-medium"><img src="/public/images/present.svg" width="24" height="24"></span></th>
          <th class="govuk-table__cell table-summary-content">Present</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup"></code></th>
        </tr>
        <!-- hod-redact -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="side-space icon-medium"><img src="/public/images/marker-pen.svg" width="24" height="24"></span></th>
          <th class="govuk-table__cell table-summary-content">Redact - option 1</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup"></code></th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="side-space icon-medium"><img src="/public/images/marker-pen-2.svg" width="24" height="24"></span></th>
          <th class="govuk-table__cell table-summary-content">Redact - option 2</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup"></code></th>
        </tr>
      </tbody>
    </table>

    <h2 id="controller-icons" class="govuk-heading-m">Controller icons</h2>
    <p class="govuk-body">Helps users to sort, organise or adjust the information, for example by filtering data, opening and closing modals or revealing additional content</p>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
      </tbody>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Icon</th>
          <th class="govuk-table__header" scope="col">Label</th>
          <th class="govuk-table__header" scope="col">Class name</th>
        </tr>
      </thead>
      <!-- hod-search-plus -->
      <tbody>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="hod-search-plus side-space icon-medium"></span></th>
          <th class="govuk-table__cell table-summary-content">Zoom in</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-search-plus</code></th>
        </tr>
        <!-- hod-search-minus -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="hod-search-minus side-space icon-medium"></span></th>
          <th class="govuk-table__cell table-summary-content">Zoom out</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-search-minus</code></th>
        </tr>
        <!-- hod-rotate -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="side-space icon-medium"><img src="/public/images/icon-casefile-rotate.svg"></span></th>
          <th class="govuk-table__cell table-summary-content">Rotate</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup"></code></th>
        </tr>

      </tbody>
    </table>

    <h2 id="reference-icons" class="govuk-heading-m">Quick reference icons</h2>
    <p class="govuk-body">Helps users to understand options and context</p>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
      </tbody>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Icon</th>
          <th class="govuk-table__header" scope="col">Label</th>
          <th class="govuk-table__header" scope="col">Class name</th>
        </tr>
      </thead>

      <!-- hod-download -->
      <tbody>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="hod-download-button side-space icon-medium"></span></th>
          <th class="govuk-table__cell table-summary-content">Download</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-download-button</code></th>
        </tr>

        <!-- hod-printer -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="hod-printer side-space icon-medium"></span></th>
          <th class="govuk-table__cell table-summary-content">Print</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-printer</code></th>
        </tr>

        <!-- hod-spinner -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="hod-spinner side-space icon-medium"></span></th>
          <th class="govuk-table__cell table-summary-content">Loading</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup">@hod-spinner</code></th>
        </tr>
        <!-- hod-comment -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="side-space icon-medium"><img src="/public/images/icon-casefile-comments.svg"></span></th>
          <th class="govuk-table__cell table-summary-content">Comment</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup"></code></th>
        </tr>
        <!-- hod-preview -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="side-space icon-medium"><img src="/public/images/eye.svg" width="30" height="26"></span></th>
          <th class="govuk-table__cell table-summary-content">Preview all marked content</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup"></code></th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell table-summary-content--icons"><span class="side-space icon-medium"><img src="/public/images/eye-undo.svg" width="30" height="30"></span></th>
          <th class="govuk-table__cell table-summary-content">Hide preview</th>
          <th class="govuk-table__cell table-summary-action"><code class="language-markup"></code></th>
        </tr>

    </table>
  </div>
</main>

{% endblock %}