{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Case reassigned {{'- ' + serviceName}}{% endblock %}

{% block content %}

  <div class="jui-width-container">

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          {{ govukPanel({
            headingLevel: 1,
            titleText: 'Case reassigned',
            html: _case.id
          }) }}

          <p>The case has been removed from your case list.</p>

          <p><a href="/app/dashboard">Go to your cases</a></p>

        </div>

      </div>

    </main>

  </div>

{% endblock %}