{% extends "layouts/admin/base.html" %}

{% block pageTitle %}What do you want to send to the parties? {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ hmctsIdentityBar({
  title: {
    html: '<b>Warren Sutton</b> and <b>DWP</b>'
  }
}) }}

<div class="jui-width-container">

    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
    }) }}

    <main class="govuk-main-wrapper" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <form method="post" action="/app/case/pip/reassign/check">

            {{ govukRadios({
              idPrefix: 'reserve',
              name: 'reserve',
              classes: "govuk-radios--inline",
              fieldset: {
                legend: {
                  text: 'Do you want to make sure the case comes back to you?',
                  isPageHeading: true,
                  classes: 'govuk-fieldset__legend--xl'
                }
              },
              items: [
                {
                  html: 'Yes',
                  value: 'yes'
                },
                {
                  html: 'No',
                  value: 'no'
                }
              ]
            }) }}

            {{ govukButton({
              text: 'Continue'
            }) }}

          </form>

        </div>

      </div>

	</main>

</div>

{% endblock %}