{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Parties{% endblock %}

{% block bodyStart %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-tabs-enabled' : 'js-tabs-enabled');</script>
{% endblock %}

{% block content %}

	{{ juiCasebar({
		caseId: casebar.id,
		parties: casebar.parties,
		caseActions: {
			actions: caseActions
		}
	}) }}

	<div class="jui-width-container">

    <main class="govuk-main-wrapper" role="main">

      {{ hmctsSubNavigation({
				items: caseNavItems
			}) }}

      <h1 class="govuk-heading-xl">Parties</h1>

			{% set respondent %}
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-l">Petitioner</h2>
						{{ govukTable({
							firstCellIsHeader: true,
							rows: petitionerRows
						}) }}
					</div>
				</div>
			{% endset -%}

			{% set petitioner %}
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-l">Respondent</h2>
						{{ govukTable({
							firstCellIsHeader: true,
							rows: respondentRows
						}) }}
					</div>
				</div>
			{% endset -%}

      {{govukTabs({
        items: [{
          id: 'petitioner',
          label: 'Petitioner',
          panel: {
            html: petitioner
          }
        }, {
          id: 'respondent',
          label: 'Respondent',
          panel: {
            html: respondent
          }
        }]
      })}}

		</main>

	</div>

{% endblock %}