{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Parties {{'- ' + serviceName}}{% endblock %}

{% block bodyStart %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-tabs-enabled' : 'js-tabs-enabled');</script>
{% endblock %}

{% block content %}

	{{ juiCasebar({
		caseId: casebar.id,
		parties: casebar.parties
	}) }}

	<div class="jui-width-container">

    <main class="govuk-main-wrapper" role="main">

      {{ hmctsSubNavigation({
				items: caseNavItems
			}) }}

			<div class="hmcts-page-heading">

				<div class="hmcts-page-heading__title-wrapper">
					<h1 class="hmcts-page-heading__title govuk-heading-xl">Parties</h1>
				</div>

				<div class="hmcts-page-heading__actions-wrapper">
					{{govukButton({
						classes: 'hmcts-page-heading__button',
						href: '/app/cases/'+_case.id+'/divorce/decision',
						text: 'Make a decision'
					})}}
				</div>

			</div>

			{% set petitioner %}
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-l">Petitioner</h2>
						{{ govukTable({
              classes: 'jui-table  jui-table--fixed',
							firstCellIsHeader: true,
							rows: petitionerRows
						}) }}
					</div>
				</div>
			{% endset -%}

			{% set respondent %}
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-l">Respondent</h2>
						{{ govukTable({
              classes: 'jui-table  jui-table--fixed',
							firstCellIsHeader: true,
							rows: respondentRows
						}) }}
					</div>
				</div>
			{% endset -%}

      {{govukTabs({
        items: [{
          id: 'petitioner',
          label: 'Petitioner',
          panel: {
            html: petitioner
          }
        }, {
          id: 'respondent',
          label: 'Respondent',
          panel: {
            html: respondent
          }
        }]
      })}}

		</main>

	</div>

{% endblock %}