{% extends "layouts/service/base.html" %}

{% set serviceName = '' %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">JUI Prototypes</h1>

  <h2 class="govuk-heading-l">Main entry points</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/app/signin">Sign in</a></li>
    <li><a href="/app/dashboard">Case list</a></li>
    <li><a href="/app/cases/BV18D00156/divorce">Re-assigned to you</a></li>
    <li><a href="/app/cases/BV18D00156/linked-cases">Linked cases</a></li>
    <li><a href="/app/cases/SC1231612322/pip">Reassign (new flow)</a></li>
  </ul>


  <h2 class="govuk-heading-l">Case list exploration</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/case-lists/v1/todo">V1 - primary nav</a></li>
    <li><a href="/case-lists/v2/todo">V2 - sub nav</a></li>
  </ul>


  <h2 class="govuk-heading-l">Other</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/form-validation">Form validation</a></li>
  </ul>



</div>

</div>
{% endblock %}
