{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Check your answers{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties
}) }}

<div class="jui-width-container">

  {{ govukBackLink({
    text: 'Back',
    href: ''
  }) }}

  <main class="govuk-main-wrapper" role="main">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Check your decision</h1>

        <dl class="app-check-your-answers  app-check-your-answers--short  govuk-!-margin-bottom-6">

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Decree nisi</dt>
            <dd class="app-check-your-answers__answer">Yes, I’m satisifed that Margaret Ann Richardson is entitled to a decree nisi on the grounds of adultery</dd>
            <dd class="app-check-your-answers__change"><a href="/app/cases/{{_case.id}}/divorce/make-decision">Change <span class="govuk-visually-hidden">decree nisi decision</span></a></dd>
          </div>

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">How should costs be handled?</dt>
            <dd class="app-check-your-answers__answer">Costs limited to 50% (as percentage)</dd>
            <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
          </div>

        </dl>

        {{ govukButton({
          text: 'Submit',
          href: ''
        }) }}

      </div>

    </div>

  </main>

</div>

{% endblock %}