{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Check your decision {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties,
  caseUrl: '/app/cases/'+casebar.id+'/divorce'
}) }}

<div class="jui-width-container">

  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}

  <main class="govuk-main-wrapper" role="main">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Check your decision</h1>

        <dl class="app-check-your-answers  app-check-your-answers--short  govuk-!-margin-bottom-6">

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Decree nisi</dt>
            <dd class="app-check-your-answers__answer">{{data.satisfied}}, I’m satisifed that {{ petitioner }} is entitled to a decree nisi on the grounds of adultery</dd>
            <dd class="app-check-your-answers__change"><a href="/app/cases/{{_case.id}}/divorce/decision">Change <span class="govuk-visually-hidden">decree nisi decision</span></a></dd>
          </div>

          {# <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">How should costs be handled?</dt>
            <dd class="app-check-your-answers__answer">Costs limited to 50% (as percentage)</dd>
            <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
          </div> #}


          {% if data['satisfied'] === 'Yes' and data['costsOrderDecision'] === 'Respondent to pay petitioner’s costs' %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">How should costs be handled?</dt>

            <dd class="app-check-your-answers__answer">
              {{data.costsOrderDecision}}<br><br>
              {{data.respondentPay}}
            </dd>

            <dd class="app-check-your-answers__change"><a href="/app/cases/{{_case.id}}/divorce/costs-order">Change <span class="govuk-visually-hidden">how should costs be handled?</span></a></dd>
          </div>
          {% endif %}


          {% if data['satisfied'] === 'Yes' and data['costsOrderDecision'] === 'Terms have been agreed between the parties and approved by the court' %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">How should costs be handled?</dt>

            <dd class="app-check-your-answers__answer">
              {{data.costsOrderDecision}}<br><br>
              {{data.termsAgreed}}
            </dd>

            <dd class="app-check-your-answers__change"><a href="/app/cases/{{_case.id}}/divorce/costs-order">Change <span class="govuk-visually-hidden">how should costs be handled?</span></a></dd>
          </div>
          {% endif %}


          {% if data['satisfied'] === 'Yes' and data['costsOrderDecision'] === 'Other' %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">How should costs be handled?</dt>
            <dd class="app-check-your-answers__answer">{{data.costsOrderDecision}}</dd>
            <dd class="app-check-your-answers__change"><a href="/app/cases/{{_case.id}}/divorce/costs-order">Change <span class="govuk-visually-hidden">how should costs be handled?</span></a></dd>
          </div>
          {% endif %}


          {% if data['satisfied'] === 'Yes' and data['costsOrderDecision'] === 'No order for costs' %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">How should costs be handled?</dt>
            <dd class="app-check-your-answers__answer">{{data.costsOrderDecision}}</dd>
            <dd class="app-check-your-answers__change"><a href="/app/cases/{{_case.id}}/divorce/costs-order">Change <span class="govuk-visually-hidden">how should costs be handled?</span></a></dd>
          </div>
          {% endif %}


        </dl>

        <form method="post" action="/app/cases/{{_case.id}}/divorce/submit-decision">
          {{ govukButton({
            text: 'Submit'
          }) }}
        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}