{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Make a decision on costs {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ hmctsIdentityBar({
  title: {
    html: casebar.parties
  }
}) }}

<div class="jui-width-container">

  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          <!-- Pounds or percentages -->
          {% set agreedPoundsOrPercentages %}

            {{ govukInput({
              label: {
                text: 'In pounds'
              },
              classes: 'govuk-input--width-10',
              id: 'agreedInPounds',
              name: 'agreedInPounds',
              value: ''
            }) }}

            {{ govukInput({
              label: {
                text: 'Or as a percentage'
              },
              classes: 'govuk-input--width-10',
              id: 'agreedInPercentages',
              name: 'agreedInPercentages',
              value: ''
            }) }}

          {% endset %}

          {% set limitedPoundsOrPercentages %}

            {{ govukInput({
              label: {
                text: 'In pounds'
              },
              classes: 'govuk-input--width-10',
              id: 'limitedInPounds',
              name: 'limitedInPounds',
              value: ''
            }) }}

            {{ govukInput({
              label: {
                text: 'Or as a percentage'
              },
              classes: 'govuk-input--width-10',
              id: 'limitedInPercentages',
              name: 'limitedInPercentages',
              value: ''
            }) }}

          {% endset %}


          <!-- Respondent pay -->
          {% set respondentPay %}
            {{ govukRadios({
              idPrefix: 'respondentPay',
              name: 'respondentPay',
              fieldset: {
                legendHtml: '<span class=\"govuk-!-w-bold\">Select one of the options below.</span>'
              },
              items: [
                {
                  text: 'Agreed to',
                  value: 'Agreed to',
                  conditional: {
                    html: agreedPoundsOrPercentages
                  }
                },
                {
                  text: 'Limited to',
                  value: 'Limited to',
                  conditional: {
                    html: limitedPoundsOrPercentages
                  }
                },
                {
                  text: 'To be subject to detailed assessment if not agreed',
                  value: 'To be subject to detailed assessment if not agreed'
                }
              ]
            }) }}
          {% endset %}


          <!-- TermsAgreed -->
          {% set termsAgreed %}
            {{ govukRadios({
              idPrefix: 'termsAgreed',
              name: 'termsAgreed',
              fieldset: {
                legendHtml: '<span class=\"govuk-!-w-bold\">Select one of the options below.</span>'
              },
              items: [
                {
                  text: 'Agreed to',
                  value: 'Agreed to',
                  conditional: {
                    html: poundsOrPercentages
                  }
                },
                {
                  text: 'Limited to',
                  value: 'Limited to',
                  conditional: {
                    html: poundsOrPercentages
                  }
                }
              ]
            }) }}
          {% endset %}

          {% set otherHtml %}
            {{ govukTextarea({
              name: "more-detail",
              id: "more-detail",
              label: {
                text: "Details"
              }
            }) }}
          {% endset %}


          <!-- How should costs be handled? -->
          {{ govukRadios({
            idPrefix: 'costsOrderDecision',
            name: 'costsOrderDecision',
            fieldset: {
              legend: {
                text: 'What type of costs order is needed?',
                classes: 'govuk-fieldset__legend--xl'
              }
            },
            items: [
              {
                text: 'An order that respondent will pay the petitioner’s costs',
                value: 'Respondent to pay petitioner’s costs',
                checked: checked('costsOrderDecision', 'Respondent to pay petitioner’s costs') == 'checked',
                conditional: {
                  html: respondentPay
                }
              },
              {
                text: 'Other',
                value: 'Other',
                checked: checked('costsOrderDecision', 'Other') == 'checked',
                conditional: {
                  html: otherHtml
                }
              },
              {
                divider: 'or'
              },
              {
                text: 'No order for costs',
                value: 'No order for costs',
                checked: checked('costsOrderDecision', 'No order for costs') == 'checked'
              }
            ]
          }) }}

          {{ govukButton({
            text: 'Continue'
          }) }}

        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}