{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Make a decision on costs {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ hmctsIdentityBar({
  title: {
    html: casebar.parties
  }
}) }}

<div class="jui-width-container">

  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Make a decision on costs</h1>

        <p><a href="/app/cases/BV18D00150/documents/key-facts">View full case file</a></p>

        <!-- Information panel -->
        <div class="panel panel--information govuk-!-margin-bottom-6">

          <h2 class="govuk-heading-m">Key facts to consider</h2>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Divorce petition</h3>
          <p>The applicant is also applying to the court to claim the costs of the divorce from the respondent.</p>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Acknowledgement of service</h3>
          <p>“I think we should pay equal amounts for the divorce as we both want it to happen.”</p>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Application for Decree nisi</h3>
          <p>“I will accept the amount my wife has suggested.”</p>

        </div>


        <form method="post">

          <!-- Pounds or percentages -->
          {% set poundsOrPercentages %}

            {{ govukInput({
              label: {
                text: 'In pounds'
              },
              classes: 'govuk-input--width-10',
              id: 'inPounds',
              name: 'inPounds',
              value: ''
            }) }}

            {{ govukInput({
              label: {
                text: 'Or as a percentage'
              },
              classes: 'govuk-input--width-10',
              id: 'inPercentages',
              name: 'inPercentages',
              value: ''
            }) }}

          {% endset %}


          <!-- Respondent pay -->
          {% set respondentPay %}
            {{ govukRadios({
              idPrefix: 'respondentPay',
              name: 'respondentPay',
              fieldset: {
                legendHtml: '<span class=\"govuk-!-w-bold\">Select one of the options below.</span>'
              },
              items: [
                {
                  text: 'Agreed to',
                  value: 'Agreed to',
                  conditional: {
                    html: poundsOrPercentages
                  }
                },
                {
                  text: 'Limited to',
                  value: 'Limited to',
                  conditional: {
                    html: poundsOrPercentages
                  }
                },
                {
                  text: 'To be subject to detailed assessment if not agreed',
                  value: 'To be subject to detailed assessment if not agreed'
                }
              ]
            }) }}
          {% endset %}


          <!-- TermsAgreed -->
          {% set termsAgreed %}
            {{ govukRadios({
              idPrefix: 'termsAgreed',
              name: 'termsAgreed',
              fieldset: {
                legendHtml: '<span class=\"govuk-!-w-bold\">Select one of the options below.</span>'
              },
              items: [
                {
                  text: 'Agreed to',
                  value: 'Agreed to',
                  conditional: {
                    html: poundsOrPercentages
                  }
                },
                {
                  text: 'Limited to',
                  value: 'Limited to',
                  conditional: {
                    html: poundsOrPercentages
                  }
                }
              ]
            }) }}
          {% endset %}


          <!-- How should costs be handled? -->
          {{ govukRadios({
            idPrefix: 'costsOrderDecision',
            name: 'costsOrderDecision',
            fieldset: {
              legend: {
                text: 'What type of costs order is needed?',
                classes: 'govuk-fieldset__legend--m'
              }
            },
            items: [
              {
                text: 'An order that respondent will pay the petitioner’s costs',
                value: 'Respondent to pay petitioner’s costs',
                checked: checked('costsOrderDecision', 'Respondent to pay petitioner’s costs') == 'checked',
                conditional: {
                  html: respondentPay
                }
              },
              {
                text: 'Other',
                value: 'Other',
                checked: checked('costsOrderDecision', 'Other') == 'checked'
              },
              {
                divider: 'or'
              },
              {
                text: 'No order for costs',
                value: 'No order for costs',
                checked: checked('costsOrderDecision', 'No order for costs') == 'checked'
              }
            ]
          }) }}

          {{ govukButton({
            text: 'Continue'
          }) }}

        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}