{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Make a decision on costs{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties
}) }}

<div class="jui-width-container">

  {{ govukBackLink({
    text: 'Back',
    href: backLink.href
  }) }}

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Make a decision on costs</h1>

        {{ juiInformationPanel({
          classes: 'jui-panel--information',
          heading: '<h2 class="govuk-heading-m">Key facts to consider</h2>',
          details: [
            {
              title: 'Divorce petition',
              description: 'The applicant is also applying to the court to claim the costs of the divorce from the respondent.'
            },
            {
              title: 'Acknowledgement of service',
              description: '“I think we should pay equal amounts for the divorce as we both want it to happen.”'
            },
            {
              title: 'Application for Decree nisi',
              description: '“I will accept the amount my wife has suggested.”'
            }
          ]
        }) }}


        <form method="post">


          <!-- Pounds or percentages -->
          {% set poundsOrPercentages %}

            {{ govukInput({
              label: {
                text: 'In pounds'
              },
              classes: 'govuk-input--width-10',
              id: 'inPounds',
              name: 'inPounds',
              value: ''
            }) }}

            {{ govukInput({
              label: {
                text: 'Or as a percentage'
              },
              classes: 'govuk-input--width-10',
              id: 'inPercentages',
              name: 'inPercentages',
              value: ''
            }) }}

          {% endset %}


          <!-- Respondent pay -->
          {% set respondentPay %}
            {{ govukRadios({
              idPrefix: 'respondentPay',
              name: 'respondentPay',
              fieldset: {
                legendHtml: '<span class=\"govuk-!-w-bold\">Select one of the options below.</span>'
              },
              items: [
                {
                  text: 'Agreed to',
                  value: 'Agreed to',
                  conditional: {
                    html: poundsOrPercentages
                  }
                },
                {
                  text: 'Lmited to',
                  value: 'Limited to',
                  conditional: {
                    html: poundsOrPercentages
                  }
                },
                {
                  text: 'To be subject to detailed assessment if not agreed',
                  value: 'To be subject to detailed assessment if not agreed'
                }
              ]
            }) }}
          {% endset %}


          <!-- TermsAgreed -->
          {% set termsAgreed %}
            {{ govukRadios({
              idPrefix: 'termsAgreed',
              name: 'termsAgreed',
              fieldset: {
                legendHtml: '<span class=\"govuk-!-w-bold\">Select one of the options below.</span>'
              },
              items: [
                {
                  text: 'Agreed to',
                  value: 'Agreed to',
                  conditional: {
                    html: poundsOrPercentages
                  }
                },
                {
                  text: 'Limited to',
                  value: 'Limited to',
                  conditional: {
                    html: poundsOrPercentages
                  }
                },
                {
                  text: 'To be subject to detailed assessment if not agreed',
                  value: 'To be subject to detailed assessment if not agreed'
                }
              ]
            }) }}
          {% endset %}


          <!-- How should costs be handled? -->
          {{ govukRadios({
            idPrefix: 'costsOrderDecision',
            name: 'costsOrderDecision',
            fieldset: {
              legend: {
                text: 'How should costs be handled?',
                classes: 'govuk-fieldset__legend--m'
              }
            },
            items: [
              {
                text: 'Respondent to pay petitioner’s costs',
                value: 'Respondent to pay petitioner’s costs',
                checked: checked('costsOrderDecision', 'Respondent to pay petitioner’s costs') == 'checked',
                conditional: {
                  html: respondentPay
                }
              },
              {
                text: 'Terms have been agreed between the parties and approved by the court',
                value: 'Terms have been agreed between the parties and approved by the court',
                checked: checked('costsOrderDecision', 'Terms have been agreed between the parties and approved by the court') == 'checked',
                conditional: {
                  html: termsAgreed
                }
              },
              {
                text: 'Other',
                value: 'Other',
                checked: checked('costsOrderDecision', 'Other') == 'checked'
              },
              {
                divider: 'or'
              },
              {
                text: 'No order for costs',
                value: 'No order for costs',
                checked: checked('costsOrderDecision', 'No order for costs') == 'checked'
              }
            ]
          }) }}

          {{ govukButton({
            text: 'Submit'
          }) }}

        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}