{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Generate order{% endblock %}

{% block content %}

{{ juiCasebar({
  caseId: casebar.id,
  parties: casebar.parties
}) }}

<div class="jui-width-container">

  {{ govukBackLink({
    text: 'Back',
    href: './'
  }) }}

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {{ govukTextarea({
              id: 'generate-order',
              name: 'generate-order',
              rows: 10,
              label: {
                text: 'Preview and edit order',
                isPageHeading: true,
                classes: 'govuk-label--xl'
              },
              hint: {
                text: 'Create order based on your decisions.'
              },
              value: 'It is directed that the petitioner should read the guidance on completing the divorce application to identify the appropriate provisions to establish jurisdiction. The petitioner should then provide the information by completing the online application and re-submitting. \n\n It is directed that the petitioner provide either the original or certified copy of the marriage certificate.  A certified copy should be available from the appropriate Registry. \n\n A free text entry to add any additional information that may be required.'
            }) }}

            {{ govukButton({
              text: 'Create order',
              element: 'button'
            }) }}

        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}