{% extends "layouts/admin/base.html" %}

{% block pageTitle %}Provide a reason {{'- ' + serviceName}}{% endblock %}

{% block content %}

{{ hmctsIdentityBar({
  title: {
    html: casebar.parties
  }
}) }}

<div class="hmcts-width-container">

  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {% set additionalInformation %}
          {{ govukTextarea({
            id: 'additional-information',
            name: 'additionalInformation',
            classes: 'govuk-input--width-30',
            label: {
              text: 'Additional information'
            }
          }) }}
          {% endset -%}

          {{ govukCheckboxes({
            idPrefix: 'reason',
            name: 'reason',
            fieldset: {
              legend: {
                text: 'Provide a reason',
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--xl'
              }
            },
            hint: {
              text: 'Choose at least one of the following:'
            },
            items: [
              {
                text: 'Jurisdiction of the court is unclear',
                value: 'Jurisdiction of the court is unclear.'
              },
              {
                text: 'Insufficient detail in application',
                value: 'Statement of Case in the petition gives insufficient detail of the fact relied on. If the petitioner wishes to proceed on this fact further details must be provided and the petition will need to be amended and re-served.'
              },
              {
                text: 'Previous proceedings in respect of the marriage',
                value: 'There have been previous proceedings in respect of the marriage.'
              },
              {
                text: 'Marriage certificate is unacceptable',
                value: 'The marriage certificate is not acceptable as the image or quality is in question.'
              },
              {
                text: 'Translation of marriage certificate is unacceptable',
                value: 'The translation of the marriage certificate is not acceptable.'
              },
              {
                text: 'Provide details / Make free text order',
                value: 'Provide additional information',
                conditional: {
                  html: additionalInformation
                }
              }
            ]
          }) }}

          {{ govukButton({
            text: 'Continue',
            element: 'button'
          }) }}

        </form>

      </div>

    </div>

  </main>

</div>

{% endblock %}